* EDA3에서 저장한 info데이터를 가져온다.
* 리스트 형태로 되어있는 칼럼을 풀어서 하나의 df로 합쳐준다.
    * 풀어줄 칼럼은 team 컬럼과 participants 컬럼
* 최종적으로 각 행은 하나의 match 데이터를 가진 통합데이터를 만들고 저장한다.

In [1]:
import numpy as np
import pandas as pd
import requests
import json
from tqdm import tnrange
import time
from sklearn.model_selection import train_test_split
from pandas.io.json import json_normalize

In [2]:
api_key = 'RGAPI-eabfcbf1-25a3-4971-be6c-036dadfe7f42'

In [3]:
data = pd.read_pickle('data/saving_data/match_info.pkl')
data

,gameCreation,gameDuration,gameId,gameMode,gameType,gameVersion,mapId,participantIdentities,participants,platformId,queueId,seasonId,status,teams
0,1588569216123,1475,4353346263,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589030702498,1404,4367199595,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588514577662,1722,4352098588,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588745022341,965,4358736984,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588837514402,812,4361173967,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589372097554,1712,4377039377,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588139841997,1369,4339975651,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589425548230,1508,4378064003,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589276891396,1325,4374104072,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1587381375511,1055,4317268687,CLASSIC,MATCHED_GAME,10.8.317.8137,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589264117001,1471,4373731421,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1589369213654,1705,4376718683,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589176338186,1489,4371321497,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589234299242,549,4372953469,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589385328264,1860,4377537195,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1589558711338,968,4382634352,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1587449487530,1936,4319360619,CLASSIC,MATCHED_GAME,10.8.317.8137,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1588489994160,1541,4350779346,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589199462304,943,4372208113,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1587008954052,1627,4305441253,CLASSIC,MATCHED_GAME,10.8.317.3760,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1588685834154,1358,4357592386,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588170257743,1915,4341290892,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1587372178681,192,4317071220,CLASSIC,MATCHED_GAME,10.8.317.8137,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588870184001,1743,4362522743,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1580492653223,1264,4122935668,CLASSIC,MATCHED_GAME,10.2.305.4739,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588632360916,1932,4355377235,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589128512282,1949,4370567316,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,440,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1588438178370,1474,4349916409,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588215372631,1820,4342208170,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1588953531145,1256,4364923121,ARAM,MATCHED_GAME,10.9.318.6057,12,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,450,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,1578149630787,1857,4065580647,CLASSIC,MATCHED_GAME,9.24.300.6382,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589556410724,1081,4382584172,URF,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,900,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1589230748103,2365,4372939335,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589193247710,1243,4371997602,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,430,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589557887349,922,4382680300,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1585901498643,622,4270906188,ONEFORALL,MATCHED_GAME,10.7.314.9802,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,1020,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588324483452,1147,4345735599,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,850,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589432527378,2145,4378189232,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588716300847,939,4358109882,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1585141471373,1963,4246823145,CLASSIC,MATCHED_GAME,10.6.314.4405,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588178768808,1818,4341531562,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1588517641831,2034,4352231875,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588828577907,1676,4360928248,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589060963966,1610,4368117060,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1588659373775,775,4356169267,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1585300979242,1002,4251192896,ONEFORALL,MATCHED_GAME,10.6.314.4405,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,1020,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1585394867958,1828,4254697984,CLASSIC,MATCHED_GAME,10.6.314.4405,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589297932758,2313,4375038554,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1584773205159,1313,4234321462,CLASSIC,MATCHED_GAME,10.6.313.8894,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588524899450,1731,4352484278,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1584332004028,1715,4221350292,CLASSIC,MATCHED_GAME,10.5.312.392,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589350061995,1581,4376156029,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589375817193,1525,4377322874,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589470957755,903,4379886318,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1587537848186,1751,4321994740,CLASSIC,MATCHED_GAME,10.8.317.8137,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1587736792109,1768,4328067285,CLASSIC,MATCHED_GAME,10.8.317.8137,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588780759428,1809,4360137137,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,440,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1589289694789,1326,4374757433,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1587063924436,730,4307520709,CLASSIC,MATCHED_GAME,10.8.317.3760,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1586484007238,1342,4288437891,CLASSIC,MATCHED_GAME,10.7.314.9802,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."

In [4]:
# 모든값이 MaM인 status칼럼 삭제
data = data.drop(['status'], axis=1)
data.head()

,gameCreation,gameDuration,gameId,gameMode,gameType,gameVersion,mapId,participantIdentities,participants,platformId,queueId,seasonId,teams
0,1588569216123,1475,4353346263,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589030702498,1404,4367199595,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588514577662,1722,4352098588,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588745022341,965,4358736984,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588837514402,812,4361173967,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."

In [5]:
'''
NaN이 들어있는 행은 삭제시켜 teams와 participants칼럼을 풀어서 하나의 dataframe으로 합칠 수 있게 만든다.
'''
data = data.dropna()

In [6]:
data.isnull().sum().sum()

0

In [7]:
data

,gameCreation,gameDuration,gameId,gameMode,gameType,gameVersion,mapId,participantIdentities,participants,platformId,queueId,seasonId,teams
0,1588569216123,1475,4353346263,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589030702498,1404,4367199595,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588514577662,1722,4352098588,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588745022341,965,4358736984,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588837514402,812,4361173967,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589372097554,1712,4377039377,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588139841997,1369,4339975651,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589425548230,1508,4378064003,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589276891396,1325,4374104072,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1587381375511,1055,4317268687,CLASSIC,MATCHED_GAME,10.8.317.8137,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589264117001,1471,4373731421,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1589369213654,1705,4376718683,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589176338186,1489,4371321497,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589234299242,549,4372953469,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589385328264,1860,4377537195,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1589558711338,968,4382634352,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1587449487530,1936,4319360619,CLASSIC,MATCHED_GAME,10.8.317.8137,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1588489994160,1541,4350779346,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589199462304,943,4372208113,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1587008954052,1627,4305441253,CLASSIC,MATCHED_GAME,10.8.317.3760,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1588685834154,1358,4357592386,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588170257743,1915,4341290892,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1587372178681,192,4317071220,CLASSIC,MATCHED_GAME,10.8.317.8137,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588870184001,1743,4362522743,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1580492653223,1264,4122935668,CLASSIC,MATCHED_GAME,10.2.305.4739,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588632360916,1932,4355377235,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589128512282,1949,4370567316,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,440,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1588438178370,1474,4349916409,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588215372631,1820,4342208170,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1588953531145,1256,4364923121,ARAM,MATCHED_GAME,10.9.318.6057,12,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,450,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,1578149630787,1857,4065580647,CLASSIC,MATCHED_GAME,9.24.300.6382,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589556410724,1081,4382584172,URF,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,900,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1589230748103,2365,4372939335,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589193247710,1243,4371997602,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,430,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589557887349,922,4382680300,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1585901498643,622,4270906188,ONEFORALL,MATCHED_GAME,10.7.314.9802,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,1020,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588324483452,1147,4345735599,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,850,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589432527378,2145,4378189232,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588716300847,939,4358109882,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1585141471373,1963,4246823145,CLASSIC,MATCHED_GAME,10.6.314.4405,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588178768808,1818,4341531562,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1588517641831,2034,4352231875,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588828577907,1676,4360928248,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589060963966,1610,4368117060,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1588659373775,775,4356169267,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1585300979242,1002,4251192896,ONEFORALL,MATCHED_GAME,10.6.314.4405,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,1020,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1585394867958,1828,4254697984,CLASSIC,MATCHED_GAME,10.6.314.4405,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589297932758,2313,4375038554,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1584773205159,1313,4234321462,CLASSIC,MATCHED_GAME,10.6.313.8894,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588524899450,1731,4352484278,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1584332004028,1715,4221350292,CLASSIC,MATCHED_GAME,10.5.312.392,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589350061995,1581,4376156029,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589375817193,1525,4377322874,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589470957755,903,4379886318,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1587537848186,1751,4321994740,CLASSIC,MATCHED_GAME,10.8.317.8137,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1587736792109,1768,4328067285,CLASSIC,MATCHED_GAME,10.8.317.8137,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588780759428,1809,4360137137,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,440,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1589289694789,1326,4374757433,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1587063924436,730,4307520709,CLASSIC,MATCHED_GAME,10.8.317.3760,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1586484007238,1342,4288437891,CLASSIC,MATCHED_GAME,10.7.314.9802,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."

In [8]:
'''
teams 칼럼에 들어있는 데이터를 풀어서 하나의 칼럼을 갖도록 df를 만든다.
두개의 팀이 있으므로 각 팀을 나눠서 df를 만들고 합쳐준다.
100 --> blue side
200 --> red side
'''
# blue side
a_ls = list(data['teams'])

team1_df = pd.DataFrame()
for i in range(len(a_ls)):
    try:
        a_ls[i][0].pop('bans',None)
        team1 = pd.DataFrame(list(a_ls[i][0].values()),index = list(a_ls[i][0].keys())).T
        team1_df = team1_df.append(team1)
    except:
        print(i)
    
team1_df.index = range(len(team1_df))

In [9]:
'''
칼럼의 이름이 blue와 red팀이 같아질수 있으므로 blue팀은 칼럼이름앞에 blue 라고 추가해준다.
'''
blue_columns = ['blue'+s for s in list(team1_df.columns)]
blue_columns

['blueteamId',
 'bluewin',
 'bluefirstBlood',
 'bluefirstTower',
 'bluefirstInhibitor',
 'bluefirstBaron',
 'bluefirstDragon',
 'bluefirstRiftHerald',
 'bluetowerKills',
 'blueinhibitorKills',
 'bluebaronKills',
 'bluedragonKills',
 'bluevilemawKills',
 'blueriftHeraldKills',
 'bluedominionVictoryScore']

In [10]:
team1_df.head()

,teamId,win,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,towerKills,inhibitorKills,baronKills,dragonKills,vilemawKills,riftHeraldKills,dominionVictoryScore
0,100,Win,True,False,True,True,True,False,8,1,1,1,0,1,0
1,100,Fail,False,False,False,False,False,False,1,0,0,2,0,0,0
2,100,Fail,True,True,False,False,True,False,3,0,0,3,0,0,0
3,100,Fail,False,False,False,False,True,False,0,0,0,1,0,0,0
4,100,Win,True,True,True,False,True,True,7,1,0,1,0,1,0

In [11]:
'''
칼럼이름이 바뀐것을 확인
'''
team1_df.columns = blue_columns
team1_df

,blueteamId,bluewin,bluefirstBlood,bluefirstTower,bluefirstInhibitor,bluefirstBaron,bluefirstDragon,bluefirstRiftHerald,bluetowerKills,blueinhibitorKills,bluebaronKills,bluedragonKills,bluevilemawKills,blueriftHeraldKills,bluedominionVictoryScore
0,100,Win,True,False,True,True,True,False,8,1,1,1,0,1,0
1,100,Fail,False,False,False,False,False,False,1,0,0,2,0,0,0
2,100,Fail,True,True,False,False,True,False,3,0,0,3,0,0,0
3,100,Fail,False,False,False,False,True,False,0,0,0,1,0,0,0
4,100,Win,True,True,True,False,True,True,7,1,0,1,0,1,0
5,100,Fail,True,True,False,False,True,True,4,0,0,1,0,2,0
6,100,Fail,False,False,False,False,False,False,2,0,0,0,0,0,0
7,100,Fail,True,False,False,False,False,False,1,0,0,1,0,0,0
8,100,Win,True,True,False,True,True,True,6,0,1,2,0,2,0
9,100,Fail,False,True,False,False,False,True,1,0,0,0,0,1,0
10,100,Win,False,True,True,True,False,True,8,1,1,2,0,2,0
11,100,Fail,True,True,False,False,False,False,2,0,0,0,0,0,0
12,100,Fail,False,True,False,False,False,True,1,0,0,0,0,1,0
13,100,Fail,True,False,False,False,False,False,0,0,0,0,0,0,0
14,100,Win,False,False,True,True,True,True,9,2,1,3,0,1,0
15,100,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0
16,100,Win,False,True,False,True,False,True,5,0,2,3,0,2,0
17,100,Win,True,False,True,True,False,True,9,2,1,2,0,2,0
18,100,Win,True,True,False,False,True,True,3,0,0,1,0,1,0
19,100,Win,True,False,True,True,True,False,9,2,1,3,0,0,0
20,100,Fail,False,False,False,False,False,True,2,0,0,0,0,1,0
21,100,Fail,False,False,False,True,True,False,2,0,1,1,0,1,0
22,100,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0
23,100,Fail,True,True,False,True,True,True,6,1,1,3,0,2,0
24,100,Fail,True,False,False,False,True,True,1,0,0,1,0,1,0
25,100,Win,True,True,True,True,True,True,9,2,1,4,0,2,0
26,100,Win,False,False,True,True,False,True,9,1,1,1,0,1,0
27,100,Fail,True,True,False,False,False,True,4,0,0,0,0,1,0
28,100,Win,False,True,True,True,True,True,8,1,1,3,0,1,0
29,100,Fail,True,True,False,False,False,False,2,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9957,100,Win,True,True,True,True,True,False,10,2,1,5,0,0,0
9958,100,Win,False,True,True,True,False,False,11,3,1,1,0,0,0
9959,100,Fail,False,False,False,True,False,False,4,0,1,2,0,1,0
9960,100,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0
9961,100,Win,True,True,False,False,True,True,4,0,0,2,0,1,0
9962,100,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0
9963,100,Win,True,True,True,False,False,False,11,3,0,0,0,0,0
9964,100,Fail,False,False,True,False,True,False,5,1,0,4,0,0,0
9965,100,Fail,True,False,False,False,False,False,0,0,0,0,0,0,0
9966,100,Fail,True,True,True,True,False,False,7,1,1,1,0,0,0
9967,100,Win,False,False,True,False,True,False,8,1,0,3,0,1,0
9968,100,Fail,False,True,False,True,False,False,2,0,1,0,0,0,0
9969,100,Win,True,True,True,True,True,False,9,1,1,4,0,0,0
9970,100,Win,False,False,False,True,True,False,5,0,1,3,0,1,0
9971,100,Win,False,True,True,False,True,True,6,1,0,1,0,1,0
9972,100,Win,True,False,True,True,True,False,5,1,1,1,0,0,0
9973,100,Win,True,True,True,True,True,True,7,1,2,4,0,1,0
9974,100,Win,False,True,True,True,False,False,7,1,2,1,0,1,0
9975,100,Fail,False,False,False,False,False,False,1,0,0,0,0,0,0
9976,100,Win,True,False,True,False,False,False,9,1,0,1,0,0,0
9977,100,Fail,False,True,False,False,False,True,3,0,0,1,0,1,0
9978,100,Fail,False,True,False,False,False,True,6,0,0,3,0,2,0
9979,100,Fail,False,False,False,False,True,False,0,0,0,1,0,0,0
9980,100,Win,True,True,True,False,True,True,9,2,0,1,0,1,0
9981,100,Win,False,True,True,True,True,True,9,3,1,4,0,1,0
9982,100,Fail,False,False,False,False,False,True,1,0,0,0,0,1,0
9983,100,Win,False,True,True,False,False,False,10,1,0,3,0,0,0
9984,100,Fail,True,True,False,False,False,False,1,0,0,1,0,1,0
9985,100,Win,True,True,True,False,True,True,7,1,0,1,0,1,0
9986,100,Fail,True,False,False,False,False,True,1,0,0,1,0,2,0

In [12]:
'''
red team
'''
team2_df = pd.DataFrame()
for i in range(len(a_ls)):
    try:
        a_ls[i][1].pop('bans',None)
        team2 = pd.DataFrame(list(a_ls[i][1].values()),index = list(a_ls[i][1].keys())).T
        team2_df = team2_df.append(team2)
    except:
        print(i)
    
team2_df.index = range(len(team2_df))

In [13]:
team2_df.head()

,teamId,win,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,towerKills,inhibitorKills,baronKills,dragonKills,vilemawKills,riftHeraldKills,dominionVictoryScore
0,200,Fail,False,True,False,False,False,True,3,0,0,2,0,1,0
1,200,Win,True,True,True,True,True,True,7,1,1,1,0,1,0
2,200,Win,False,False,True,True,False,True,9,3,1,1,0,2,0
3,200,Win,True,True,True,False,False,True,11,1,0,0,0,1,0
4,200,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0

In [14]:
red_columns = ['red'+s for s in list(team2_df.columns)]
red_columns

['redteamId',
 'redwin',
 'redfirstBlood',
 'redfirstTower',
 'redfirstInhibitor',
 'redfirstBaron',
 'redfirstDragon',
 'redfirstRiftHerald',
 'redtowerKills',
 'redinhibitorKills',
 'redbaronKills',
 'reddragonKills',
 'redvilemawKills',
 'redriftHeraldKills',
 'reddominionVictoryScore']

In [15]:
'''
칼럼이름이 바뀐것을 확인
'''
team2_df.columns = red_columns
team2_df

,redteamId,redwin,redfirstBlood,redfirstTower,redfirstInhibitor,redfirstBaron,redfirstDragon,redfirstRiftHerald,redtowerKills,redinhibitorKills,redbaronKills,reddragonKills,redvilemawKills,redriftHeraldKills,reddominionVictoryScore
0,200,Fail,False,True,False,False,False,True,3,0,0,2,0,1,0
1,200,Win,True,True,True,True,True,True,7,1,1,1,0,1,0
2,200,Win,False,False,True,True,False,True,9,3,1,1,0,2,0
3,200,Win,True,True,True,False,False,True,11,1,0,0,0,1,0
4,200,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0
5,200,Win,False,False,True,True,False,False,9,2,1,3,0,0,0
6,200,Win,True,True,True,True,True,True,9,1,1,3,0,1,0
7,200,Win,False,True,True,True,True,True,9,2,1,3,0,2,0
8,200,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0
9,200,Win,True,False,True,False,True,False,7,1,0,2,0,1,0
10,200,Fail,True,False,False,False,True,False,1,0,0,1,0,0,0
11,200,Win,False,False,True,True,True,True,7,1,1,4,0,2,0
12,200,Win,True,False,False,True,True,False,5,0,1,3,0,0,0
13,200,Win,False,True,True,False,True,True,5,1,0,1,0,1,0
14,200,Fail,True,True,False,False,False,False,2,0,0,2,0,0,0
15,200,Win,True,True,False,False,True,True,4,0,0,2,0,1,0
16,200,Fail,True,False,False,False,True,False,4,0,0,2,0,0,0
17,200,Fail,False,True,False,False,True,False,1,0,0,1,0,0,0
18,200,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0
19,200,Fail,False,True,False,False,False,True,2,0,0,0,0,2,0
20,200,Win,True,True,False,True,True,False,4,0,1,2,0,0,0
21,200,Win,True,True,True,False,False,True,8,1,0,3,0,1,0
22,200,Win,False,False,False,False,False,False,0,0,0,0,0,0,0
23,200,Win,False,False,True,False,False,False,6,2,0,1,0,0,0
24,200,Win,False,True,True,False,False,False,8,1,0,1,0,1,0
25,200,Fail,False,False,False,False,False,False,2,0,0,1,0,0,0
26,200,Fail,True,True,False,False,True,False,6,0,0,2,0,0,0
27,200,Win,False,False,True,True,True,False,9,1,1,3,0,1,0
28,200,Fail,True,False,False,False,False,False,3,0,0,2,0,1,0
29,200,Win,False,False,True,False,False,False,4,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9957,200,Fail,False,False,False,False,False,True,3,0,0,0,0,1,0
9958,200,Fail,True,False,False,False,True,False,2,0,0,3,0,0,0
9959,200,Win,True,True,True,False,True,True,11,3,1,4,0,1,0
9960,200,Win,True,True,False,False,True,True,5,0,0,1,0,1,0
9961,200,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0
9962,200,Win,True,True,False,False,False,False,3,0,0,0,0,0,0
9963,200,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0
9964,200,Win,True,True,False,False,False,True,8,1,0,1,0,1,0
9965,200,Win,False,True,False,False,True,True,4,0,0,2,0,1,0
9966,200,Win,False,False,False,False,True,True,8,1,1,3,0,1,0
9967,200,Fail,True,True,False,True,False,True,4,0,1,1,0,1,0
9968,200,Win,True,False,True,False,True,True,11,3,1,5,0,1,0
9969,200,Fail,False,False,False,False,False,True,0,0,0,0,0,1,0
9970,200,Fail,True,True,False,False,False,True,2,0,0,0,0,1,0
9971,200,Fail,True,False,False,False,False,False,0,0,0,0,0,0,0
9972,200,Fail,False,True,False,False,False,True,4,0,0,0,0,1,0
9973,200,Fail,False,False,False,False,False,False,1,0,0,0,0,1,0
9974,200,Fail,True,False,False,False,True,True,5,0,0,5,0,1,0
9975,200,Win,True,True,True,True,True,True,11,3,1,3,0,2,0
9976,200,Fail,False,True,False,False,True,True,3,0,0,2,0,1,0
9977,200,Win,True,False,True,True,True,False,10,2,1,3,0,0,0
9978,200,Win,True,False,True,True,True,False,8,1,1,1,0,0,0
9979,200,Win,True,True,True,True,False,True,10,2,1,2,0,2,0
9980,200,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0
9981,200,Fail,True,False,False,False,False,False,2,0,0,1,0,0,0
9982,200,Win,True,True,True,True,True,False,8,2,1,4,0,1,0
9983,200,Fail,True,False,False,False,True,True,3,0,0,2,0,1,0
9984,200,Win,False,False,False,True,True,True,4,0,1,2,0,1,0
9985,200,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0
9986,200,Win,False,True,True,True,True,False,9,2,1,2,0,0,0

In [17]:
'''
각 팀의 info를 담은 dataframe의 길이가 일치하는지 확인해준다.
'''
len(team1_df) == len(team2_df) == len(data)

True

* data에서 teams, participants 그리고 duration 칼럼을 사용할것
* [column info](https://developer.riotgames.com/apis#match-v4/GET_getMatch) 에서 각 내용 확인 가능
* 각팀으로 만든 df와 기존 data를 합쳐준다

In [18]:
'''
팀1과 팀2를 합쳐준 df에 추가로 합쳐줄 gameDuration df 생성
--> 이때 reset_index를 꼭 해줘야한다.
    ---> 안하면 cannot reindex from a duplicate axis 오류남
'''
data_pri = data[['gameDuration']]
data_pri = data_pri.reset_index()
data_pri.drop(['index'],axis=1, inplace=True)
data_pri

     gameDuration
0            1475
1            1404
2            1722
3             965
4             812
5            1712
6            1369
7            1508
8            1325
9            1055
10           1471
11           1705
12           1489
13            549
14           1860
15            968
16           1936
17           1541
18            943
19           1627
20           1358
21           1915
22            192
23           1743
24           1264
25           1932
26           1949
27           1474
28           1820
29           1256
...           ...
9957         1857
9958         1081
9959         2365
9960         1243
9961          922
9962          622
9963         1147
9964         2145
9965          939
9966         1963
9967         1818
9968         2034
9969         1676
9970         1610
9971          775
9972         1002
9973         1828
9974         2313
9975         1313
9976         1731
9977         1715
9978         1581
9979         1525
9980          903
9981         1751
9982         1768
9983         1809
9984         1326
9985          730
9986         1342

[9987 rows x 1 columns]

In [19]:
'''
team df와 기존 data에서 사용할 칼럼을 선택해 합쳐준다.
먼저 팀1과 팀2를 합쳐주고
'''
data_team = pd.concat([team1_df,team2_df,data_pri],axis=1)

In [20]:
data_team

,blueteamId,bluewin,bluefirstBlood,bluefirstTower,bluefirstInhibitor,bluefirstBaron,bluefirstDragon,bluefirstRiftHerald,bluetowerKills,blueinhibitorKills,...,redfirstDragon,redfirstRiftHerald,redtowerKills,redinhibitorKills,redbaronKills,reddragonKills,redvilemawKills,redriftHeraldKills,reddominionVictoryScore,gameDuration
0,100,Win,True,False,True,True,True,False,8,1,...,False,True,3,0,0,2,0,1,0,1475
1,100,Fail,False,False,False,False,False,False,1,0,...,True,True,7,1,1,1,0,1,0,1404
2,100,Fail,True,True,False,False,True,False,3,0,...,False,True,9,3,1,1,0,2,0,1722
3,100,Fail,False,False,False,False,True,False,0,0,...,False,True,11,1,0,0,0,1,0,965
4,100,Win,True,True,True,False,True,True,7,1,...,False,False,0,0,0,0,0,0,0,812
5,100,Fail,True,True,False,False,True,True,4,0,...,False,False,9,2,1,3,0,0,0,1712
6,100,Fail,False,False,False,False,False,False,2,0,...,True,True,9,1,1,3,0,1,0,1369
7,100,Fail,True,False,False,False,False,False,1,0,...,True,True,9,2,1,3,0,2,0,1508
8,100,Win,True,True,False,True,True,True,6,0,...,False,False,0,0,0,0,0,0,0,1325
9,100,Fail,False,True,False,False,False,True,1,0,...,True,False,7,1,0,2,0,1,0,1055
10,100,Win,False,True,True,True,False,True,8,1,...,True,False,1,0,0,1,0,0,0,1471
11,100,Fail,True,True,False,False,False,False,2,0,...,True,True,7,1,1,4,0,2,0,1705
12,100,Fail,False,True,False,False,False,True,1,0,...,True,False,5,0,1,3,0,0,0,1489
13,100,Fail,True,False,False,False,False,False,0,0,...,True,True,5,1,0,1,0,1,0,549
14,100,Win,False,False,True,True,True,True,9,2,...,False,False,2,0,0,2,0,0,0,1860
15,100,Fail,False,False,False,False,False,False,0,0,...,True,True,4,0,0,2,0,1,0,968
16,100,Win,False,True,False,True,False,True,5,0,...,True,False,4,0,0,2,0,0,0,1936
17,100,Win,True,False,True,True,False,True,9,2,...,True,False,1,0,0,1,0,0,0,1541
18,100,Win,True,True,False,False,True,True,3,0,...,False,False,0,0,0,0,0,0,0,943
19,100,Win,True,False,True,True,True,False,9,2,...,False,True,2,0,0,0,0,2,0,1627
20,100,Fail,False,False,False,False,False,True,2,0,...,True,False,4,0,1,2,0,0,0,1358
21,100,Fail,False,False,False,True,True,False,2,0,...,False,True,8,1,0,3,0,1,0,1915
22,100,Fail,False,False,False,False,False,False,0,0,...,False,False,0,0,0,0,0,0,0,192
23,100,Fail,True,True,False,True,True,True,6,1,...,False,False,6,2,0,1,0,0,0,1743
24,100,Fail,True,False,False,False,True,True,1,0,...,False,False,8,1,0,1,0,1,0,1264
25,100,Win,True,True,True,True,True,True,9,2,...,False,False,2,0,0,1,0,0,0,1932
26,100,Win,False,False,True,True,False,True,9,1,...,True,False,6,0,0,2,0,0,0,1949
27,100,Fail,True,True,False,False,False,True,4,0,...,True,False,9,1,1,3,0,1,0,1474
28,100,Win,False,True,True,True,True,True,8,1,...,False,False,3,0,0,2,0,1,0,1820
29,100,Fail,True,True,False,False,False,False,2,1,...,False,False,4,2,0,0,0,0,0,1256
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9957,100,Win,True,True,True,True,True,False,10,2,...,False,True,3,0,0,0,0,1,0,1857
9958,100,Win,False,True,True,True,False,False,11,3,...,True,False,2,0,0,3,0,0,0,1081
9959,100,Fail,False,False,False,True,False,False,4,0,...,True,True,11,3,1,4,0,1,0,2365
9960,100,Fail,False,False,False,False,False,False,0,0,...,True,True,5,0,0,1,0,1,0,1243
9961,100,Win,True,True,False,False,True,True,4,0,...,False,False,0,0,0,0,0,0,0,922
9962,100,Fail,False,False,False,False,False,False,0,0,...,False,False,3,0,0,0,0,0,0,622
9963,100,Win,True,True,True,False,False,False,11,3,...,False,False,0,0,0,0,0,0,0,1147
9964,100,Fail,False,False,True,False,True,False,5,1,...,False,True,8,1,0,1,0,1,0,2145
9965,100,Fail,True,False,False,False,False,False,0,0,...,True,True,4,0,0,2,0,1,0,939
9966,100,Fail,True,True,True,True,False,False,7,1,...,True,True,8,1,1,3,0,1,0,1963
9967,100,Win,False,False,True,False,True,False,8,1,...,False,True,4,0,1,1,0,1,0,1818
9968,100,Fail,False,True,False,True,False,False,2,0,...,True,True,11,3,1,5,0,1,0,2034
9969,100,Win,True,True,True,True,True,False,9,1,...,False,True,0,0,0,0,0,1,0,1676
9970,100,Win,False,False,False,True,True,False,5,0,...,False,True,2,0,0,0,0,1,0,1610
9971,100,Win,False,True,True,False,True,True,6,1,...,False,False,0,0,0,0,0,0,0,775
9972,100,Win,True,False,True,True,True,False,5,1,...,False,True,4,0,0,0,0,1,0,1002
9973,100,Win,True,True,True,True,True,True,7,1,...,False,False,1,0,0,0,0,1,0,1828
9974,100,Win,False,True,True,True,False,False,7,1,...,True,True,5,0,0,5,0,1,0,2313
9975,100,Fail,False,False,False,False,False,False,1,0,...,True,True,11,3,1,3,0,2,0,1313
9976,100,Win,True,False,True,False,False,False,9,1,...,True,True,3,0,0,2,0,1,0,1731
9977,100,Fail,False,True,False,False,False,True,3,0,...,True,False,10,2,1,3,0,0,0,1715
9978,100,Fail,False,True,False,False,False,True,6,0,...,True,False,8,1,1,1,0,0,0,1581
9979,100,Fail,False,False,False,False,True,False,0,0,...,False,True,10,2,1,2,0,2,0,1525
9980,100,Win,True,True,True,False,True,True,9,2,...,False,False,0,0,0,0,0,0,0,903
9981,100,Win,False,True,True,True,True,True,9,3,...,False,False,2,0,0,1,0,0,0,1751
9982,100,Fail,False,False,False,False,False,True,1,0,...,True,False,8,2,1,4,0,1,0,1768
9983,100,Win,False,True,True,False,False,False,10,1,...,True,True,3,0,0,2,0,1,0,1809
9984,100,Fail,True,True,False,False,False,False,1,0,...,True,True,4,0,1,2,0,1,0,1326
9985,100,Win,True,True,True,False,True,True,7,1,...,False,False,0,0,0,0,0,0,0,730
9986,100,Fail,True,False,False,False,False,True,1,0,...,True,False,9,2,1,2,0,0,0,1342

In [21]:
'''
최종적으로 통합데이터 NaN값 확인 --> 0 확인 완료
'''
data_team.isnull().sum().sum()

0

* team 칼럼을 풀어서 하나의 행으로 만드는 과정이 끝났다.
* 이와 같은 과정을 participants 칼럼에도 적용해야 한다.
* 다만, participants 칼럼은 각 플레이어의 정보를 담고있으므로 총 10명의 정보가 등장하고 많은 정보를 담고있으므로 추후 칼럼을 선별해야할것

In [22]:
p_ls = list(data['participants'])

In [81]:
df_party = pd.DataFrame()
df_party

Empty DataFrame
Columns: []
Index: []

In [78]:
'''
participants 칼럼에서 실제로 사용할 칼럼들의 목록
stats. timeline. 과 같이 . 으로 구분되는 이유는 json_normalize를 사용하기때문이다.
remain_col_ver1 은 20분까지의 경기 데이터가 있을 경우이며
remain_col_ver2 는 20분전에 경기가 끝나서 0-10의 데이터만 있는 경우이다.
remain_col_ver3 는 10분전에 경기가 끝난경우 --> 미드오픈같은 경우가 있다.
remain_col_ver1 리스트만 가지고 아래 for문을 실행하면 20분전에 경기가 끝난 경우 에러가 발생하기 떄문에
세 가지의 case로 나눠서 처리한다.

'''
remain_col_ver1 = ['participantId','teamId','championId','stats.win','stats.kills','stats.deaths',
              'stats.assists','stats.longestTimeSpentLiving','stats.visionScore','stats.goldEarned',
              'stats.totalMinionsKilled','stats.champLevel','stats.visionWardsBoughtInGame',
              'timeline.lane',
              'timeline.creepsPerMinDeltas.0-10','timeline.creepsPerMinDeltas.10-20',
              'timeline.xpPerMinDeltas.0-10','timeline.xpPerMinDeltas.10-20',
              'timeline.goldPerMinDeltas.0-10','timeline.goldPerMinDeltas.10-20']

remain_col_ver2 = ['participantId','teamId','championId','stats.win','stats.kills','stats.deaths',
              'stats.assists','stats.longestTimeSpentLiving','stats.visionScore','stats.goldEarned',
              'stats.totalMinionsKilled','stats.champLevel','stats.visionWardsBoughtInGame',
              'timeline.lane',
              'timeline.creepsPerMinDeltas.0-10',
              'timeline.xpPerMinDeltas.0-10',
              'timeline.goldPerMinDeltas.0-10']

remain_col_ver3 = ['participantId','teamId','championId','stats.win','stats.kills','stats.deaths',
              'stats.assists','stats.longestTimeSpentLiving','stats.visionScore','stats.goldEarned',
              'stats.totalMinionsKilled','stats.champLevel','stats.visionWardsBoughtInGame',
              'timeline.lane']

print(len(remain_col))

20

In [82]:
df_party = pd.DataFrame()
for i in tnrange(len(p_ls), desc='1st Loop'):
    df_middle = pd.DataFrame()
    for j in range(10):
        a1 = json_normalize(p_ls[i][j])
        try:
            a1 = a1[remain_col_ver1]
        except:
            try:
                a1 = a1[remain_col_ver2]
            except:
                a1 = a1[remain_col_ver3]
        a1.columns = ['{}'.format(j+1) + s for s in a1.columns]
        df_middle = pd.concat([df_middle,a1],axis=1)
    df_party = df_party.append(df_middle, ignore_index=True)

C:\Users\zone\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: TqdmDeprecationWarning: Please use `tqdm.notebook.trange` instead of `tqdm.tnrange`

HBox(children=(IntProgress(value=0, description='1st Loop', max=9987, style=ProgressStyle(description_width='i…

C:\Users\zone\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [83]:
df_party

,10championId,10participantId,10stats.assists,10stats.champLevel,10stats.deaths,10stats.goldEarned,10stats.kills,10stats.longestTimeSpentLiving,10stats.totalMinionsKilled,10stats.visionScore,...,9stats.visionWardsBoughtInGame,9stats.win,9teamId,9timeline.creepsPerMinDeltas.0-10,9timeline.creepsPerMinDeltas.10-20,9timeline.goldPerMinDeltas.0-10,9timeline.goldPerMinDeltas.10-20,9timeline.lane,9timeline.xpPerMinDeltas.0-10,9timeline.xpPerMinDeltas.10-20
0,21,10,7,12,12,8704,3,258,131,24,...,6,False,200,2.2,1.1,189.7,262.7,BOTTOM,280.7,305.2
1,350,10,18,13,1,8064,3,1162,4,35,...,5,True,200,8.6,9.9,369.2,834.7,BOTTOM,326.0,753.0
2,60,10,12,15,4,10973,4,708,22,66,...,4,True,200,6.6,7.2,296.8,524.6,JUNGLE,416.8,516.6
3,518,10,2,10,1,5923,1,451,106,13,...,5,True,200,0.5,NaN,414.5,NaN,NONE,424.5,NaN
4,43,10,0,6,1,2519,0,500,13,3,...,0,False,200,6.3,NaN,244.0,NaN,NONE,226.5,NaN
5,110,10,12,15,4,12661,7,676,206,42,...,12,True,200,1.1,1.2,221.1,312.2,BOTTOM,240.1,356.9
6,523,10,11,12,6,10343,8,389,101,25,...,6,True,200,5.8,11.3,318.7,637.0,MIDDLE,384.7,616.4
7,134,10,10,15,0,12850,10,0,201,22,...,6,True,200,0.6,1.4,308.7,518.8,JUNGLE,323.2,635.2
8,59,10,3,10,5,6484,2,354,18,18,...,5,False,200,1.3,1.4,195.6,221.2,BOTTOM,265.4,241.7
9,7,10,2,11,1,5865,1,663,125,20,...,1,True,200,1.2,NaN,148.3,NaN,NONE,277.1,NaN
10,429,10,2,12,6,8869,4,311,169,16,...,3,False,200,5.4,7.4,254.1,340.1,MIDDLE,426.0,577.8
11,81,10,3,14,3,11470,4,382,195,30,...,3,True,200,1.4,1.2,383.7,385.4,JUNGLE,495.4,434.4
12,523,10,6,13,3,10158,4,505,174,27,...,6,True,200,1.2,1.3,154.3,286.7,BOTTOM,244.0,374.6
13,89,10,1,5,0,3084,1,0,11,1,...,0,True,200,NaN,NaN,NaN,NaN,NONE,NaN,NaN
14,3,10,4,13,8,9028,3,464,163,12,...,1,False,200,7.2,6.3,361.2,479.6,MIDDLE,462.5,383.9
15,131,10,2,11,0,6420,3,0,134,6,...,0,True,200,7.2,NaN,268.3,NaN,NONE,447.6,NaN
16,412,10,3,13,5,7090,2,743,40,84,...,4,False,200,8.5,8.7,327.5,341.4,TOP,440.0,493.9
17,517,10,2,13,3,8159,3,705,151,17,...,5,False,200,0.5,1.7,282.0,367.7,JUNGLE,340.5,514.9
18,20,10,5,8,5,4536,0,370,7,4,...,4,False,200,6.4,NaN,297.7,NaN,NONE,394.9,NaN
19,235,10,8,11,11,7464,3,279,27,64,...,5,False,200,7.0,5.3,264.8,261.4,MIDDLE,428.8,337.9
20,89,10,17,12,5,8739,5,576,29,37,...,2,True,200,5.7,5.1,246.3,394.2,TOP,456.6,516.4
21,110,10,9,15,4,12256,5,873,194,51,...,11,True,200,1.1,1.6,185.7,253.9,BOTTOM,241.6,283.5
22,41,10,0,3,0,860,0,0,10,0,...,0,True,200,NaN,NaN,NaN,NaN,NONE,NaN,NaN
23,64,10,9,13,2,10377,6,730,19,16,...,5,True,200,7.5,8.2,348.8,469.5,MIDDLE,470.6,494.7
24,523,10,13,12,3,8710,2,691,146,19,...,7,True,200,1.1,1.1,169.5,337.0,BOTTOM,277.5,399.7
25,81,10,8,16,10,14594,10,326,214,21,...,0,False,200,5.8,8.3,229.2,476.0,MIDDLE,397.3,541.5
26,157,10,2,17,9,14584,9,575,245,27,...,6,False,200,0.1,1.1,232.1,349.8,JUNGLE,305.3,405.2
27,236,10,6,15,3,11762,9,537,170,17,...,5,True,200,7.0,4.9,352.8,399.6,TOP,505.5,428.8
28,236,10,1,15,9,15551,11,434,252,38,...,6,False,200,1.4,1.3,193.5,259.5,BOTTOM,271.2,249.2
29,517,10,24,18,11,13311,9,178,36,0,...,0,True,200,1.4,0.7,440.7,459.6,BOTTOM,659.6,877.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9957,39,10,8,15,10,12739,7,399,206,30,...,1,False,200,4.2,6.1,238.5,408.1,TOP,390.6,470.5
9958,81,10,10,19,13,18203,16,180,122,4,...,0,False,200,2.3,NaN,600.8,NaN,NONE,515.9,NaN
9959,117,10,20,15,7,10040,1,506,31,101,...,2,True,200,7.2,8.6,348.1,539.0,BOTTOM,379.0,480.7
9960,517,10,9,12,0,8568,7,0,12,17,...,6,True,200,6.5,5.3,284.6,369.5,BOTTOM,286.0,449.3
9961,266,10,2,10,3,4657,2,455,67,6,...,3,False,200,7.1,NaN,295.9,NaN,NONE,454.6,NaN
9962,161,10,6,11,3,5741,4,294,38,1,...,0,True,200,2.0,NaN,501.8,NaN,NONE,724.9,NaN
9963,106,10,0,11,8,4219,1,207,51,0,...,0,False,200,1.3,NaN,146.1,NaN,NONE,228.5,NaN
9964,141,10,8,18,3,18264,14,1027,122,87,...,8,True,200,5.4,9.6,339.2,364.6,TOP,391.7,537.9
9965,68,10,6,10,1,4957,0,648,92,14,...,2,True,200,6.5,NaN,234.5,NaN,NONE,353.4,NaN
9966,203,10,11,15,13,13822,12,280,148,17,...,3,True,200,6.5,8.8,254.8,510.6,TOP,396.8,588.9
9967,350,10,7,13,8,7165,1,450,2,39,...,6,False,200,7.6,9.3,267.6,390.7,BOTTOM,300.3,457.4
9968,110,10,13,16,0,15037,12,0,222,33,...,3,True,200,6.5,6.5,302.2,473.0,MIDDLE,389.3,478.4
9969,103,10,4,15,3,10710,5,940,182,23,...,1,False,200,0.8,1.0,339.4,401.9,JUNGLE,344.8,393.5
9970,13,10,4,14,3,9336,2,956,190,17,...,3,False,200,0.8,0.9,324.8,366.5,JUNGLE,368.4,392.1
9971,523,10,2,6,4,3324,2,300,30,3,...,2,False,200,1.8,NaN,207.2,NaN,NONE,247.9,NaN
9972,236,10,6,14,7,7645,2,208,48,8,...,2,False,200,4.2,NaN,607.2,NaN,NONE,621.0,NaN
9973,498,10,3,13,8,9360,1,466,171,21,...,10,False,200,5.9,5.5,276.4,305.4,MIDDLE,433.2,336.7
9974,266,10,5,18,8,15086,6,459,252,15,...,17,False,200,1.4,1.7,175.6,476.1,BOTTOM,261.3,277.6
9975,103,10,9,14,1,10493,6,579,149,20,...,4,True,200,1.0,0.6,337.0,453.4,JUNGLE,429.7,416.1
9976,56,10,3,14,8,10287,5,778,192,15,...,1,False,200,5.4,6.0,252.5,410.6,TOP,417.0,438.7
9977,555,10,17,14,9,10269,4,287,45,72,...,2,True,200,0.5,0.4,368.5,600.6,JUNGLE,383.6,547.4
9978,412,10,16,13,3,7696,1,661,32,64,...,2,True,200,8.5,9.0,339.4,389.8,BOTTOM,337.6,497.5
9979,157,10,13,14,4,13854,11,496,186,12,...,7,True,200,1.2,1.5,186.0,367.9,BOTTOM,294.4,464.7
9980,62,10,1,7,6,3351,2,300,26,3,...,1,False,200,5.4,NaN,261.9,NaN,NONE,218.1,NaN
9981,64,10,7,15,7,12255,6,369,67,37,...,0,False,200,6.3,6.4,266.3,420.5,MIDDLE,430.2,558.4
9982,412,10,25,14,5,8530,0,667,36,76,...,2,True,200,6.4,7.1,272.3,502.4,MIDDLE,416.6,538.2
9983,89,10,8,12,12,7670,5,259,29,58,...,9,False,200,7.0,7.9,288.8,341.9,BOTTOM,299.4,448.8
9984,114,10,2,15,0,11588,5,0,219,12,...,8,True,200,1.4,2.4,174.0,269.3,BOTTOM,270.5,354.6
9985,432,10,2,5,2,2384,0,492,10,6,...,1,False,200,2.9,NaN,191.3,NaN,NONE,221.8,NaN
9986,24,10,2,13,7,8515,4,285,131,9,...,4,True,200,8.7,7.7,325.0,484.3,MIDDLE,454.6,576.8

In [84]:
df_info = pd.concat([data_team, df_party] ,axis=1)

In [93]:
df_info

,blueteamId,bluewin,bluefirstBlood,bluefirstTower,bluefirstInhibitor,bluefirstBaron,bluefirstDragon,bluefirstRiftHerald,bluetowerKills,blueinhibitorKills,...,9stats.visionWardsBoughtInGame,9stats.win,9teamId,9timeline.creepsPerMinDeltas.0-10,9timeline.creepsPerMinDeltas.10-20,9timeline.goldPerMinDeltas.0-10,9timeline.goldPerMinDeltas.10-20,9timeline.lane,9timeline.xpPerMinDeltas.0-10,9timeline.xpPerMinDeltas.10-20
0,100,Win,True,False,True,True,True,False,8,1,...,6,False,200,2.2,1.1,189.7,262.7,BOTTOM,280.7,305.2
1,100,Fail,False,False,False,False,False,False,1,0,...,5,True,200,8.6,9.9,369.2,834.7,BOTTOM,326.0,753.0
2,100,Fail,True,True,False,False,True,False,3,0,...,4,True,200,6.6,7.2,296.8,524.6,JUNGLE,416.8,516.6
3,100,Fail,False,False,False,False,True,False,0,0,...,5,True,200,0.5,NaN,414.5,NaN,NONE,424.5,NaN
4,100,Win,True,True,True,False,True,True,7,1,...,0,False,200,6.3,NaN,244.0,NaN,NONE,226.5,NaN
5,100,Fail,True,True,False,False,True,True,4,0,...,12,True,200,1.1,1.2,221.1,312.2,BOTTOM,240.1,356.9
6,100,Fail,False,False,False,False,False,False,2,0,...,6,True,200,5.8,11.3,318.7,637.0,MIDDLE,384.7,616.4
7,100,Fail,True,False,False,False,False,False,1,0,...,6,True,200,0.6,1.4,308.7,518.8,JUNGLE,323.2,635.2
8,100,Win,True,True,False,True,True,True,6,0,...,5,False,200,1.3,1.4,195.6,221.2,BOTTOM,265.4,241.7
9,100,Fail,False,True,False,False,False,True,1,0,...,1,True,200,1.2,NaN,148.3,NaN,NONE,277.1,NaN
10,100,Win,False,True,True,True,False,True,8,1,...,3,False,200,5.4,7.4,254.1,340.1,MIDDLE,426.0,577.8
11,100,Fail,True,True,False,False,False,False,2,0,...,3,True,200,1.4,1.2,383.7,385.4,JUNGLE,495.4,434.4
12,100,Fail,False,True,False,False,False,True,1,0,...,6,True,200,1.2,1.3,154.3,286.7,BOTTOM,244.0,374.6
13,100,Fail,True,False,False,False,False,False,0,0,...,0,True,200,NaN,NaN,NaN,NaN,NONE,NaN,NaN
14,100,Win,False,False,True,True,True,True,9,2,...,1,False,200,7.2,6.3,361.2,479.6,MIDDLE,462.5,383.9
15,100,Fail,False,False,False,False,False,False,0,0,...,0,True,200,7.2,NaN,268.3,NaN,NONE,447.6,NaN
16,100,Win,False,True,False,True,False,True,5,0,...,4,False,200,8.5,8.7,327.5,341.4,TOP,440.0,493.9
17,100,Win,True,False,True,True,False,True,9,2,...,5,False,200,0.5,1.7,282.0,367.7,JUNGLE,340.5,514.9
18,100,Win,True,True,False,False,True,True,3,0,...,4,False,200,6.4,NaN,297.7,NaN,NONE,394.9,NaN
19,100,Win,True,False,True,True,True,False,9,2,...,5,False,200,7.0,5.3,264.8,261.4,MIDDLE,428.8,337.9
20,100,Fail,False,False,False,False,False,True,2,0,...,2,True,200,5.7,5.1,246.3,394.2,TOP,456.6,516.4
21,100,Fail,False,False,False,True,True,False,2,0,...,11,True,200,1.1,1.6,185.7,253.9,BOTTOM,241.6,283.5
22,100,Fail,False,False,False,False,False,False,0,0,...,0,True,200,NaN,NaN,NaN,NaN,NONE,NaN,NaN
23,100,Fail,True,True,False,True,True,True,6,1,...,5,True,200,7.5,8.2,348.8,469.5,MIDDLE,470.6,494.7
24,100,Fail,True,False,False,False,True,True,1,0,...,7,True,200,1.1,1.1,169.5,337.0,BOTTOM,277.5,399.7
25,100,Win,True,True,True,True,True,True,9,2,...,0,False,200,5.8,8.3,229.2,476.0,MIDDLE,397.3,541.5
26,100,Win,False,False,True,True,False,True,9,1,...,6,False,200,0.1,1.1,232.1,349.8,JUNGLE,305.3,405.2
27,100,Fail,True,True,False,False,False,True,4,0,...,5,True,200,7.0,4.9,352.8,399.6,TOP,505.5,428.8
28,100,Win,False,True,True,True,True,True,8,1,...,6,False,200,1.4,1.3,193.5,259.5,BOTTOM,271.2,249.2
29,100,Fail,True,True,False,False,False,False,2,1,...,0,True,200,1.4,0.7,440.7,459.6,BOTTOM,659.6,877.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9957,100,Win,True,True,True,True,True,False,10,2,...,1,False,200,4.2,6.1,238.5,408.1,TOP,390.6,470.5
9958,100,Win,False,True,True,True,False,False,11,3,...,0,False,200,2.3,NaN,600.8,NaN,NONE,515.9,NaN
9959,100,Fail,False,False,False,True,False,False,4,0,...,2,True,200,7.2,8.6,348.1,539.0,BOTTOM,379.0,480.7
9960,100,Fail,False,False,False,False,False,False,0,0,...,6,True,200,6.5,5.3,284.6,369.5,BOTTOM,286.0,449.3
9961,100,Win,True,True,False,False,True,True,4,0,...,3,False,200,7.1,NaN,295.9,NaN,NONE,454.6,NaN
9962,100,Fail,False,False,False,False,False,False,0,0,...,0,True,200,2.0,NaN,501.8,NaN,NONE,724.9,NaN
9963,100,Win,True,True,True,False,False,False,11,3,...,0,False,200,1.3,NaN,146.1,NaN,NONE,228.5,NaN
9964,100,Fail,False,False,True,False,True,False,5,1,...,8,True,200,5.4,9.6,339.2,364.6,TOP,391.7,537.9
9965,100,Fail,True,False,False,False,False,False,0,0,...,2,True,200,6.5,NaN,234.5,NaN,NONE,353.4,NaN
9966,100,Fail,True,True,True,True,False,False,7,1,...,3,True,200,6.5,8.8,254.8,510.6,TOP,396.8,588.9
9967,100,Win,False,False,True,False,True,False,8,1,...,6,False,200,7.6,9.3,267.6,390.7,BOTTOM,300.3,457.4
9968,100,Fail,False,True,False,True,False,False,2,0,...,3,True,200,6.5,6.5,302.2,473.0,MIDDLE,389.3,478.4
9969,100,Win,True,True,True,True,True,False,9,1,...,1,False,200,0.8,1.0,339.4,401.9,JUNGLE,344.8,393.5
9970,100,Win,False,False,False,True,True,False,5,0,...,3,False,200,0.8,0.9,324.8,366.5,JUNGLE,368.4,392.1
9971,100,Win,False,True,True,False,True,True,6,1,...,2,False,200,1.8,NaN,207.2,NaN,NONE,247.9,NaN
9972,100,Win,True,False,True,True,True,False,5,1,...,2,False,200,4.2,NaN,607.2,NaN,NONE,621.0,NaN
9973,100,Win,True,True,True,True,True,True,7,1,...,10,False,200,5.9,5.5,276.4,305.4,MIDDLE,433.2,336.7
9974,100,Win,False,True,True,True,False,False,7,1,...,17,False,200,1.4,1.7,175.6,476.1,BOTTOM,261.3,277.6
9975,100,Fail,False,False,False,False,False,False,1,0,...,4,True,200,1.0,0.6,337.0,453.4,JUNGLE,429.7,416.1
9976,100,Win,True,False,True,False,False,False,9,1,...,1,False,200,5.4,6.0,252.5,410.6,TOP,417.0,438.7
9977,100,Fail,False,True,False,False,False,True,3,0,...,2,True,200,0.5,0.4,368.5,600.6,JUNGLE,383.6,547.4
9978,100,Fail,False,True,False,False,False,True,6,0,...,2,True,200,8.5,9.0,339.4,389.8,BOTTOM,337.6,497.5
9979,100,Fail,False,False,False,False,True,False,0,0,...,7,True,200,1.2,1.5,186.0,367.9,BOTTOM,294.4,464.7
9980,100,Win,True,True,True,False,True,True,9,2,...,1,False,200,5.4,NaN,261.9,NaN,NONE,218.1,NaN
9981,100,Win,False,True,True,True,True,True,9,3,...,0,False,200,6.3,6.4,266.3,420.5,MIDDLE,430.2,558.4
9982,100,Fail,False,False,False,False,False,True,1,0,...,2,True,200,6.4,7.1,272.3,502.4,MIDDLE,416.6,538.2
9983,100,Win,False,True,True,False,False,False,10,1,...,9,False,200,7.0,7.9,288.8,341.9,BOTTOM,299.4,448.8
9984,100,Fail,True,True,False,False,False,False,1,0,...,8,True,200,1.4,2.4,174.0,269.3,BOTTOM,270.5,354.6
9985,100,Win,True,True,True,False,True,True,7,1,...,1,False,200,2.9,NaN,191.3,NaN,NONE,221.8,NaN
9986,100,Fail,True,False,False,False,False,True,1,0,...,4,True,200,8.7,7.7,325.0,484.3,MIDDLE,454.6,576.8

In [99]:
'''
추가적으로 gameDuration 이 초로 나타나져있으므로 분으로 나타내주는 컬럼(gameDurationM)도 하나 만들어준다.
'''
df_info = df_info.astype({'gameDuration': 'int32'})
df_info['gameDurationM'] = df_info['gameDuration'].div(60).round(2)

In [100]:
df_info

,blueteamId,bluewin,bluefirstBlood,bluefirstTower,bluefirstInhibitor,bluefirstBaron,bluefirstDragon,bluefirstRiftHerald,bluetowerKills,blueinhibitorKills,...,9stats.win,9teamId,9timeline.creepsPerMinDeltas.0-10,9timeline.creepsPerMinDeltas.10-20,9timeline.goldPerMinDeltas.0-10,9timeline.goldPerMinDeltas.10-20,9timeline.lane,9timeline.xpPerMinDeltas.0-10,9timeline.xpPerMinDeltas.10-20,gameDurationM
0,100,Win,True,False,True,True,True,False,8,1,...,False,200,2.2,1.1,189.7,262.7,BOTTOM,280.7,305.2,24.58
1,100,Fail,False,False,False,False,False,False,1,0,...,True,200,8.6,9.9,369.2,834.7,BOTTOM,326.0,753.0,23.40
2,100,Fail,True,True,False,False,True,False,3,0,...,True,200,6.6,7.2,296.8,524.6,JUNGLE,416.8,516.6,28.70
3,100,Fail,False,False,False,False,True,False,0,0,...,True,200,0.5,NaN,414.5,NaN,NONE,424.5,NaN,16.08
4,100,Win,True,True,True,False,True,True,7,1,...,False,200,6.3,NaN,244.0,NaN,NONE,226.5,NaN,13.53
5,100,Fail,True,True,False,False,True,True,4,0,...,True,200,1.1,1.2,221.1,312.2,BOTTOM,240.1,356.9,28.53
6,100,Fail,False,False,False,False,False,False,2,0,...,True,200,5.8,11.3,318.7,637.0,MIDDLE,384.7,616.4,22.82
7,100,Fail,True,False,False,False,False,False,1,0,...,True,200,0.6,1.4,308.7,518.8,JUNGLE,323.2,635.2,25.13
8,100,Win,True,True,False,True,True,True,6,0,...,False,200,1.3,1.4,195.6,221.2,BOTTOM,265.4,241.7,22.08
9,100,Fail,False,True,False,False,False,True,1,0,...,True,200,1.2,NaN,148.3,NaN,NONE,277.1,NaN,17.58
10,100,Win,False,True,True,True,False,True,8,1,...,False,200,5.4,7.4,254.1,340.1,MIDDLE,426.0,577.8,24.52
11,100,Fail,True,True,False,False,False,False,2,0,...,True,200,1.4,1.2,383.7,385.4,JUNGLE,495.4,434.4,28.42
12,100,Fail,False,True,False,False,False,True,1,0,...,True,200,1.2,1.3,154.3,286.7,BOTTOM,244.0,374.6,24.82
13,100,Fail,True,False,False,False,False,False,0,0,...,True,200,NaN,NaN,NaN,NaN,NONE,NaN,NaN,9.15
14,100,Win,False,False,True,True,True,True,9,2,...,False,200,7.2,6.3,361.2,479.6,MIDDLE,462.5,383.9,31.00
15,100,Fail,False,False,False,False,False,False,0,0,...,True,200,7.2,NaN,268.3,NaN,NONE,447.6,NaN,16.13
16,100,Win,False,True,False,True,False,True,5,0,...,False,200,8.5,8.7,327.5,341.4,TOP,440.0,493.9,32.27
17,100,Win,True,False,True,True,False,True,9,2,...,False,200,0.5,1.7,282.0,367.7,JUNGLE,340.5,514.9,25.68
18,100,Win,True,True,False,False,True,True,3,0,...,False,200,6.4,NaN,297.7,NaN,NONE,394.9,NaN,15.72
19,100,Win,True,False,True,True,True,False,9,2,...,False,200,7.0,5.3,264.8,261.4,MIDDLE,428.8,337.9,27.12
20,100,Fail,False,False,False,False,False,True,2,0,...,True,200,5.7,5.1,246.3,394.2,TOP,456.6,516.4,22.63
21,100,Fail,False,False,False,True,True,False,2,0,...,True,200,1.1,1.6,185.7,253.9,BOTTOM,241.6,283.5,31.92
22,100,Fail,False,False,False,False,False,False,0,0,...,True,200,NaN,NaN,NaN,NaN,NONE,NaN,NaN,3.20
23,100,Fail,True,True,False,True,True,True,6,1,...,True,200,7.5,8.2,348.8,469.5,MIDDLE,470.6,494.7,29.05
24,100,Fail,True,False,False,False,True,True,1,0,...,True,200,1.1,1.1,169.5,337.0,BOTTOM,277.5,399.7,21.07
25,100,Win,True,True,True,True,True,True,9,2,...,False,200,5.8,8.3,229.2,476.0,MIDDLE,397.3,541.5,32.20
26,100,Win,False,False,True,True,False,True,9,1,...,False,200,0.1,1.1,232.1,349.8,JUNGLE,305.3,405.2,32.48
27,100,Fail,True,True,False,False,False,True,4,0,...,True,200,7.0,4.9,352.8,399.6,TOP,505.5,428.8,24.57
28,100,Win,False,True,True,True,True,True,8,1,...,False,200,1.4,1.3,193.5,259.5,BOTTOM,271.2,249.2,30.33
29,100,Fail,True,True,False,False,False,False,2,1,...,True,200,1.4,0.7,440.7,459.6,BOTTOM,659.6,877.1,20.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9957,100,Win,True,True,True,True,True,False,10,2,...,False,200,4.2,6.1,238.5,408.1,TOP,390.6,470.5,30.95
9958,100,Win,False,True,True,True,False,False,11,3,...,False,200,2.3,NaN,600.8,NaN,NONE,515.9,NaN,18.02
9959,100,Fail,False,False,False,True,False,False,4,0,...,True,200,7.2,8.6,348.1,539.0,BOTTOM,379.0,480.7,39.42
9960,100,Fail,False,False,False,False,False,False,0,0,...,True,200,6.5,5.3,284.6,369.5,BOTTOM,286.0,449.3,20.72
9961,100,Win,True,True,False,False,True,True,4,0,...,False,200,7.1,NaN,295.9,NaN,NONE,454.6,NaN,15.37
9962,100,Fail,False,False,False,False,False,False,0,0,...,True,200,2.0,NaN,501.8,NaN,NONE,724.9,NaN,10.37
9963,100,Win,True,True,True,False,False,False,11,3,...,False,200,1.3,NaN,146.1,NaN,NONE,228.5,NaN,19.12
9964,100,Fail,False,False,True,False,True,False,5,1,...,True,200,5.4,9.6,339.2,364.6,TOP,391.7,537.9,35.75
9965,100,Fail,True,False,False,False,False,False,0,0,...,True,200,6.5,NaN,234.5,NaN,NONE,353.4,NaN,15.65
9966,100,Fail,True,True,True,True,False,False,7,1,...,True,200,6.5,8.8,254.8,510.6,TOP,396.8,588.9,32.72
9967,100,Win,False,False,True,False,True,False,8,1,...,False,200,7.6,9.3,267.6,390.7,BOTTOM,300.3,457.4,30.30
9968,100,Fail,False,True,False,True,False,False,2,0,...,True,200,6.5,6.5,302.2,473.0,MIDDLE,389.3,478.4,33.90
9969,100,Win,True,True,True,True,True,False,9,1,...,False,200,0.8,1.0,339.4,401.9,JUNGLE,344.8,393.5,27.93
9970,100,Win,False,False,False,True,True,False,5,0,...,False,200,0.8,0.9,324.8,366.5,JUNGLE,368.4,392.1,26.83
9971,100,Win,False,True,True,False,True,True,6,1,...,False,200,1.8,NaN,207.2,NaN,NONE,247.9,NaN,12.92
9972,100,Win,True,False,True,True,True,False,5,1,...,False,200,4.2,NaN,607.2,NaN,NONE,621.0,NaN,16.70
9973,100,Win,True,True,True,True,True,True,7,1,...,False,200,5.9,5.5,276.4,305.4,MIDDLE,433.2,336.7,30.47
9974,100,Win,False,True,True,True,False,False,7,1,...,False,200,1.4,1.7,175.6,476.1,BOTTOM,261.3,277.6,38.55
9975,100,Fail,False,False,False,False,False,False,1,0,...,True,200,1.0,0.6,337.0,453.4,JUNGLE,429.7,416.1,21.88
9976,100,Win,True,False,True,False,False,False,9,1,...,False,200,5.4,6.0,252.5,410.6,TOP,417.0,438.7,28.85
9977,100,Fail,False,True,False,False,False,True,3,0,...,True,200,0.5,0.4,368.5,600.6,JUNGLE,383.6,547.4,28.58
9978,100,Fail,False,True,False,False,False,True,6,0,...,True,200,8.5,9.0,339.4,389.8,BOTTOM,337.6,497.5,26.35
9979,100,Fail,False,False,False,False,True,False,0,0,...,True,200,1.2,1.5,186.0,367.9,BOTTOM,294.4,464.7,25.42
9980,100,Win,True,True,True,False,True,True,9,2,...,False,200,5.4,NaN,261.9,NaN,NONE,218.1,NaN,15.05
9981,100,Win,False,True,True,True,True,True,9,3,...,False,200,6.3,6.4,266.3,420.5,MIDDLE,430.2,558.4,29.18
9982,100,Fail,False,False,False,False,False,True,1,0,...,True,200,6.4,7.1,272.3,502.4,MIDDLE,416.6,538.2,29.47
9983,100,Win,False,True,True,False,False,False,10,1,...,False,200,7.0,7.9,288.8,341.9,BOTTOM,299.4,448.8,30.15
9984,100,Fail,True,True,False,False,False,False,1,0,...,True,200,1.4,2.4,174.0,269.3,BOTTOM,270.5,354.6,22.10
9985,100,Win,True,True,True,False,True,True,7,1,...,False,200,2.9,NaN,191.3,NaN,NONE,221.8,NaN,12.17
9986,100,Fail,True,False,False,False,False,True,1,0,...,True,200,8.7,7.7,325.0,484.3,MIDDLE,454.6,576.8,22.37

In [101]:
'''
통합데이터 저장
'''
df_info.to_pickle('data/saving_data/df_info_EDA4')

In [102]:
'''
통합데이터 불러와서 출력 확인
'''
loading_test = pd.read_pickle('data/saving_data/df_info_EDA4')
loading_test

,blueteamId,bluewin,bluefirstBlood,bluefirstTower,bluefirstInhibitor,bluefirstBaron,bluefirstDragon,bluefirstRiftHerald,bluetowerKills,blueinhibitorKills,...,9stats.win,9teamId,9timeline.creepsPerMinDeltas.0-10,9timeline.creepsPerMinDeltas.10-20,9timeline.goldPerMinDeltas.0-10,9timeline.goldPerMinDeltas.10-20,9timeline.lane,9timeline.xpPerMinDeltas.0-10,9timeline.xpPerMinDeltas.10-20,gameDurationM
0,100,Win,True,False,True,True,True,False,8,1,...,False,200,2.2,1.1,189.7,262.7,BOTTOM,280.7,305.2,24.58
1,100,Fail,False,False,False,False,False,False,1,0,...,True,200,8.6,9.9,369.2,834.7,BOTTOM,326.0,753.0,23.40
2,100,Fail,True,True,False,False,True,False,3,0,...,True,200,6.6,7.2,296.8,524.6,JUNGLE,416.8,516.6,28.70
3,100,Fail,False,False,False,False,True,False,0,0,...,True,200,0.5,NaN,414.5,NaN,NONE,424.5,NaN,16.08
4,100,Win,True,True,True,False,True,True,7,1,...,False,200,6.3,NaN,244.0,NaN,NONE,226.5,NaN,13.53
5,100,Fail,True,True,False,False,True,True,4,0,...,True,200,1.1,1.2,221.1,312.2,BOTTOM,240.1,356.9,28.53
6,100,Fail,False,False,False,False,False,False,2,0,...,True,200,5.8,11.3,318.7,637.0,MIDDLE,384.7,616.4,22.82
7,100,Fail,True,False,False,False,False,False,1,0,...,True,200,0.6,1.4,308.7,518.8,JUNGLE,323.2,635.2,25.13
8,100,Win,True,True,False,True,True,True,6,0,...,False,200,1.3,1.4,195.6,221.2,BOTTOM,265.4,241.7,22.08
9,100,Fail,False,True,False,False,False,True,1,0,...,True,200,1.2,NaN,148.3,NaN,NONE,277.1,NaN,17.58
10,100,Win,False,True,True,True,False,True,8,1,...,False,200,5.4,7.4,254.1,340.1,MIDDLE,426.0,577.8,24.52
11,100,Fail,True,True,False,False,False,False,2,0,...,True,200,1.4,1.2,383.7,385.4,JUNGLE,495.4,434.4,28.42
12,100,Fail,False,True,False,False,False,True,1,0,...,True,200,1.2,1.3,154.3,286.7,BOTTOM,244.0,374.6,24.82
13,100,Fail,True,False,False,False,False,False,0,0,...,True,200,NaN,NaN,NaN,NaN,NONE,NaN,NaN,9.15
14,100,Win,False,False,True,True,True,True,9,2,...,False,200,7.2,6.3,361.2,479.6,MIDDLE,462.5,383.9,31.00
15,100,Fail,False,False,False,False,False,False,0,0,...,True,200,7.2,NaN,268.3,NaN,NONE,447.6,NaN,16.13
16,100,Win,False,True,False,True,False,True,5,0,...,False,200,8.5,8.7,327.5,341.4,TOP,440.0,493.9,32.27
17,100,Win,True,False,True,True,False,True,9,2,...,False,200,0.5,1.7,282.0,367.7,JUNGLE,340.5,514.9,25.68
18,100,Win,True,True,False,False,True,True,3,0,...,False,200,6.4,NaN,297.7,NaN,NONE,394.9,NaN,15.72
19,100,Win,True,False,True,True,True,False,9,2,...,False,200,7.0,5.3,264.8,261.4,MIDDLE,428.8,337.9,27.12
20,100,Fail,False,False,False,False,False,True,2,0,...,True,200,5.7,5.1,246.3,394.2,TOP,456.6,516.4,22.63
21,100,Fail,False,False,False,True,True,False,2,0,...,True,200,1.1,1.6,185.7,253.9,BOTTOM,241.6,283.5,31.92
22,100,Fail,False,False,False,False,False,False,0,0,...,True,200,NaN,NaN,NaN,NaN,NONE,NaN,NaN,3.20
23,100,Fail,True,True,False,True,True,True,6,1,...,True,200,7.5,8.2,348.8,469.5,MIDDLE,470.6,494.7,29.05
24,100,Fail,True,False,False,False,True,True,1,0,...,True,200,1.1,1.1,169.5,337.0,BOTTOM,277.5,399.7,21.07
25,100,Win,True,True,True,True,True,True,9,2,...,False,200,5.8,8.3,229.2,476.0,MIDDLE,397.3,541.5,32.20
26,100,Win,False,False,True,True,False,True,9,1,...,False,200,0.1,1.1,232.1,349.8,JUNGLE,305.3,405.2,32.48
27,100,Fail,True,True,False,False,False,True,4,0,...,True,200,7.0,4.9,352.8,399.6,TOP,505.5,428.8,24.57
28,100,Win,False,True,True,True,True,True,8,1,...,False,200,1.4,1.3,193.5,259.5,BOTTOM,271.2,249.2,30.33
29,100,Fail,True,True,False,False,False,False,2,1,...,True,200,1.4,0.7,440.7,459.6,BOTTOM,659.6,877.1,20.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9957,100,Win,True,True,True,True,True,False,10,2,...,False,200,4.2,6.1,238.5,408.1,TOP,390.6,470.5,30.95
9958,100,Win,False,True,True,True,False,False,11,3,...,False,200,2.3,NaN,600.8,NaN,NONE,515.9,NaN,18.02
9959,100,Fail,False,False,False,True,False,False,4,0,...,True,200,7.2,8.6,348.1,539.0,BOTTOM,379.0,480.7,39.42
9960,100,Fail,False,False,False,False,False,False,0,0,...,True,200,6.5,5.3,284.6,369.5,BOTTOM,286.0,449.3,20.72
9961,100,Win,True,True,False,False,True,True,4,0,...,False,200,7.1,NaN,295.9,NaN,NONE,454.6,NaN,15.37
9962,100,Fail,False,False,False,False,False,False,0,0,...,True,200,2.0,NaN,501.8,NaN,NONE,724.9,NaN,10.37
9963,100,Win,True,True,True,False,False,False,11,3,...,False,200,1.3,NaN,146.1,NaN,NONE,228.5,NaN,19.12
9964,100,Fail,False,False,True,False,True,False,5,1,...,True,200,5.4,9.6,339.2,364.6,TOP,391.7,537.9,35.75
9965,100,Fail,True,False,False,False,False,False,0,0,...,True,200,6.5,NaN,234.5,NaN,NONE,353.4,NaN,15.65
9966,100,Fail,True,True,True,True,False,False,7,1,...,True,200,6.5,8.8,254.8,510.6,TOP,396.8,588.9,32.72
9967,100,Win,False,False,True,False,True,False,8,1,...,False,200,7.6,9.3,267.6,390.7,BOTTOM,300.3,457.4,30.30
9968,100,Fail,False,True,False,True,False,False,2,0,...,True,200,6.5,6.5,302.2,473.0,MIDDLE,389.3,478.4,33.90
9969,100,Win,True,True,True,True,True,False,9,1,...,False,200,0.8,1.0,339.4,401.9,JUNGLE,344.8,393.5,27.93
9970,100,Win,False,False,False,True,True,False,5,0,...,False,200,0.8,0.9,324.8,366.5,JUNGLE,368.4,392.1,26.83
9971,100,Win,False,True,True,False,True,True,6,1,...,False,200,1.8,NaN,207.2,NaN,NONE,247.9,NaN,12.92
9972,100,Win,True,False,True,True,True,False,5,1,...,False,200,4.2,NaN,607.2,NaN,NONE,621.0,NaN,16.70
9973,100,Win,True,True,True,True,True,True,7,1,...,False,200,5.9,5.5,276.4,305.4,MIDDLE,433.2,336.7,30.47
9974,100,Win,False,True,True,True,False,False,7,1,...,False,200,1.4,1.7,175.6,476.1,BOTTOM,261.3,277.6,38.55
9975,100,Fail,False,False,False,False,False,False,1,0,...,True,200,1.0,0.6,337.0,453.4,JUNGLE,429.7,416.1,21.88
9976,100,Win,True,False,True,False,False,False,9,1,...,False,200,5.4,6.0,252.5,410.6,TOP,417.0,438.7,28.85
9977,100,Fail,False,True,False,False,False,True,3,0,...,True,200,0.5,0.4,368.5,600.6,JUNGLE,383.6,547.4,28.58
9978,100,Fail,False,True,False,False,False,True,6,0,...,True,200,8.5,9.0,339.4,389.8,BOTTOM,337.6,497.5,26.35
9979,100,Fail,False,False,False,False,True,False,0,0,...,True,200,1.2,1.5,186.0,367.9,BOTTOM,294.4,464.7,25.42
9980,100,Win,True,True,True,False,True,True,9,2,...,False,200,5.4,NaN,261.9,NaN,NONE,218.1,NaN,15.05
9981,100,Win,False,True,True,True,True,True,9,3,...,False,200,6.3,6.4,266.3,420.5,MIDDLE,430.2,558.4,29.18
9982,100,Fail,False,False,False,False,False,True,1,0,...,True,200,6.4,7.1,272.3,502.4,MIDDLE,416.6,538.2,29.47
9983,100,Win,False,True,True,False,False,False,10,1,...,False,200,7.0,7.9,288.8,341.9,BOTTOM,299.4,448.8,30.15
9984,100,Fail,True,True,False,False,False,False,1,0,...,True,200,1.4,2.4,174.0,269.3,BOTTOM,270.5,354.6,22.10
9985,100,Win,True,True,True,False,True,True,7,1,...,False,200,2.9,NaN,191.3,NaN,NONE,221.8,NaN,12.17
9986,100,Fail,True,False,False,False,False,True,1,0,...,True,200,8.7,7.7,325.0,484.3,MIDDLE,454.6,576.8,22.37

In [103]:
s = ['1' + i for i in remain_col_ver1]
s

['1participantId',
 '1teamId',
 '1championId',
 '1stats.win',
 '1stats.kills',
 '1stats.deaths',
 '1stats.assists',
 '1stats.longestTimeSpentLiving',
 '1stats.visionScore',
 '1stats.goldEarned',
 '1stats.totalMinionsKilled',
 '1stats.champLevel',
 '1stats.visionWardsBoughtInGame',
 '1timeline.lane',
 '1timeline.creepsPerMinDeltas.0-10',
 '1timeline.creepsPerMinDeltas.10-20',
 '1timeline.xpPerMinDeltas.0-10',
 '1timeline.xpPerMinDeltas.10-20',
 '1timeline.goldPerMinDeltas.0-10',
 '1timeline.goldPerMinDeltas.10-20']

In [106]:
loading_test[s]

,1participantId,1teamId,1championId,1stats.win,1stats.kills,1stats.deaths,1stats.assists,1stats.longestTimeSpentLiving,1stats.visionScore,1stats.goldEarned,1stats.totalMinionsKilled,1stats.champLevel,1stats.visionWardsBoughtInGame,1timeline.lane,1timeline.creepsPerMinDeltas.0-10,1timeline.creepsPerMinDeltas.10-20,1timeline.xpPerMinDeltas.0-10,1timeline.xpPerMinDeltas.10-20,1timeline.goldPerMinDeltas.0-10,1timeline.goldPerMinDeltas.10-20
0,1,100,517,True,9,6,13,468,23,11204,140,14,3,MIDDLE,5.7,4.7,428.2,457.4,326.6,483.8
1,1,100,246,False,4,4,2,925,19,9305,172,14,4,MIDDLE,6.2,9.1,343.1,628.4,298.6,449.4
2,1,100,517,False,3,7,6,394,15,8555,136,14,2,TOP,5.0,6.7,501.6,408.7,279.9,320.9
3,1,100,39,False,4,11,2,123,4,5584,91,9,1,NONE,6.0,NaN,327.2,NaN,272.3,NaN
4,1,100,81,True,1,0,0,0,6,5244,102,8,0,NONE,7.5,NaN,305.7,NaN,300.1,NaN
5,1,100,164,False,10,8,2,666,26,13599,185,16,2,TOP,6.7,6.4,508.3,536.9,355.0,545.9
6,1,100,126,False,1,6,4,445,11,9558,203,14,0,TOP,7.9,9.0,469.7,570.0,273.2,409.6
7,1,100,44,False,1,5,8,418,41,6060,63,12,8,TOP,3.9,2.1,349.7,297.3,224.2,214.3
8,1,100,131,True,8,2,3,477,18,10333,144,13,2,MIDDLE,6.8,6.3,461.9,388.1,329.4,507.5
9,1,100,236,False,1,4,1,588,12,5415,120,8,2,NONE,8.2,NaN,311.8,NaN,280.3,NaN
10,1,100,61,True,6,4,8,347,28,10455,161,15,1,MIDDLE,6.8,6.7,447.3,590.2,299.3,431.3
11,1,100,98,False,2,2,8,1405,77,7207,37,10,16,BOTTOM,1.6,1.5,261.7,239.1,207.6,235.5
12,1,100,84,False,5,9,2,219,13,9780,163,13,0,JUNGLE,6.6,5.9,439.6,445.4,320.3,416.7
13,1,100,163,False,1,1,0,178,2,1973,0,2,0,NONE,NaN,NaN,NaN,NaN,NaN,NaN
14,1,100,266,True,4,3,12,1005,28,13766,217,16,5,MIDDLE,7.6,5.4,408.9,510.8,319.8,438.9
15,1,100,44,False,0,5,0,241,20,3424,26,8,2,NONE,1.3,NaN,248.1,NaN,168.7,NaN
16,1,100,62,True,6,3,11,365,26,13169,218,17,4,TOP,5.5,6.5,392.6,522.3,279.7,352.3
17,1,100,57,True,1,2,13,709,9,9543,166,14,0,TOP,8.7,5.6,462.0,443.6,279.2,348.7
18,1,100,266,True,2,3,3,295,7,6555,114,11,0,NONE,6.1,NaN,459.8,NaN,313.4,NaN
19,1,100,110,True,6,4,10,1041,19,12119,150,14,1,BOTTOM,4.3,7.4,254.4,487.7,292.6,441.4
20,1,100,53,False,1,11,11,346,23,5426,16,9,6,BOTTOM,0.9,0.7,252.9,272.9,166.7,266.8
21,1,100,429,False,7,6,2,683,27,13706,220,14,5,BOTTOM,8.2,8.0,291.4,387.3,335.6,388.9
22,1,100,79,False,0,0,0,0,1,792,4,2,0,NONE,NaN,NaN,NaN,NaN,NaN,NaN
23,1,100,24,False,2,2,2,1030,28,12588,234,16,3,TOP,8.3,8.9,457.7,581.1,286.1,546.0
24,1,100,517,False,4,5,1,678,16,8076,27,11,3,JUNGLE,0.7,1.9,358.9,463.3,292.1,440.6
25,1,100,412,True,2,7,27,759,74,9157,27,14,18,BOTTOM,1.6,1.1,288.6,391.8,210.4,323.2
26,1,100,8,True,11,3,8,893,24,16106,241,18,2,MIDDLE,7.4,8.2,485.2,694.6,274.0,486.2
27,1,100,203,False,3,6,6,476,32,10313,37,12,3,JUNGLE,0.5,2.3,303.8,480.6,281.4,560.1
28,1,100,64,True,9,4,7,586,27,12499,29,14,15,JUNGLE,0.3,1.1,277.0,380.3,299.6,395.4
29,1,100,64,False,16,9,25,246,0,14757,40,18,0,TOP,1.8,2.2,802.1,1136.9,631.5,667.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9957,1,100,555,True,8,7,6,579,126,12634,53,14,10,BOTTOM,1.4,2.1,261.9,259.6,214.1,327.7
9958,1,100,13,True,4,14,6,117,26,13237,97,18,0,NONE,5.2,NaN,487.1,NaN,486.3,NaN
9959,1,100,266,False,6,1,11,2337,35,15218,203,18,5,JUNGLE,7.1,6.6,407.6,589.9,250.5,546.2
9960,1,100,24,False,1,5,0,676,16,5762,17,10,1,JUNGLE,0.2,1.5,263.2,352.5,251.3,266.0
9961,1,100,126,True,3,1,2,458,11,6884,144,11,2,NONE,8.4,NaN,489.6,NaN,364.0,NaN
9962,1,100,115,False,0,1,0,537,5,4405,45,10,1,NONE,4.5,NaN,629.9,NaN,337.4,NaN
9963,1,100,145,True,25,0,1,0,3,14082,156,15,0,NONE,6.3,NaN,568.1,NaN,455.1,NaN
9964,1,100,875,False,5,4,13,1127,81,9561,42,14,15,MIDDLE,1.5,1.5,262.5,340.3,227.4,301.3
9965,1,100,240,False,0,2,1,648,9,5244,118,10,2,NONE,8.6,NaN,465.7,NaN,277.1,NaN
9966,1,100,33,False,4,10,13,599,65,9360,51,13,11,BOTTOM,1.6,2.0,231.3,295.8,270.4,295.2
9967,1,100,143,True,5,5,16,441,68,9482,25,14,9,BOTTOM,0.7,0.8,290.9,376.6,252.7,325.5
9968,1,100,154,False,0,7,6,626,64,7135,37,12,10,BOTTOM,2.0,1.1,295.6,208.6,181.0,202.4
9969,1,100,236,True,12,6,4,418,25,14939,224,17,2,TOP,6.5,9.1,421.9,642.6,342.0,569.0
9970,1,100,60,True,6,7,10,500,41,9454,23,13,6,JUNGLE,0.4,0.6,240.4,468.9,259.4,337.4
9971,1,100,43,True,1,3,7,332,13,4203,2,7,5,NONE,0.1,NaN,278.8,NaN,256.5,NaN
9972,1,100,41,True,5,4,6,455,6,8506,26,14,0,NONE,2.4,NaN,575.5,NaN,365.8,NaN
9973,1,100,98,True,3,7,15,256,17,11409,168,16,0,TOP,4.6,5.2,412.9,423.1,277.9,330.5
9974,1,100,236,True,10,5,16,620,30,16829,203,18,4,BOTTOM,7.3,6.9,273.6,510.4,251.0,508.7
9975,1,100,412,False,1,3,0,677,33,4930,33,10,3,BOTTOM,1.4,1.8,312.4,324.2,211.7,195.9
9976,1,100,517,True,5,5,10,388,31,9613,157,14,7,MIDDLE,6.9,5.8,398.6,481.7,235.2,348.6
9977,1,100,39,False,4,7,7,667,16,12107,202,15,3,TOP,8.0,5.7,466.7,467.0,342.4,550.1
9978,1,100,104,False,5,6,7,654,35,11920,45,15,3,JUNGLE,0.7,2.2,363.8,752.2,345.5,591.0
9979,1,100,59,False,7,8,12,496,27,10147,23,12,6,JUNGLE,1.7,0.5,392.4,351.0,328.4,367.3
9980,1,100,111,True,1,4,10,452,21,5541,24,9,5,NONE,1.6,NaN,322.4,NaN,253.9,NaN
9981,1,100,517,True,10,5,12,762,29,13311,177,15,4,MIDDLE,6.2,8.2,496.9,534.8,355.4,502.8
9982,1,100,203,False,7,6,7,440,26,13300,70,16,6,JUNGLE,0.2,2.4,403.1,519.1,333.7,484.1
9983,1,100,236,True,11,4,9,949,20,14583,221,14,0,BOTTOM,7.2,8.3,301.9,393.7,372.3,514.1
9984,1,100,141,False,0,3,5,699,33,7193,19,11,6,JUNGLE,0.1,1.6,305.8,500.1,265.0,367.2
9985,1,100,43,True,2,0,6,725,9,4638,4,7,2,NONE,0.4,NaN,260.0,NaN,303.8,NaN
9986,1,100,81,False,1,6,1,409,9,6771,152,11,0,BOTTOM,5.7,7.4,251.2,473.4,214.0,333.2