* EDA3에서 저장한 info데이터를 가져온다.
* 리스트 형태로 되어있는 칼럼을 풀어서 하나의 df로 합쳐준다.
* 최종적으로 각 행은 하나의 match 데이터를 가진 통합데이터를 만들고 저장한다.

In [1]:
import numpy as np
import pandas as pd
import requests
import json
from tqdm import tnrange
import time
from sklearn.model_selection import train_test_split

In [2]:
api_key = 'RGAPI-eabfcbf1-25a3-4971-be6c-036dadfe7f42'

In [20]:
data = pd.read_pickle('data/saving_data/match_info.pkl')
data

,gameCreation,gameDuration,gameId,gameMode,gameType,gameVersion,mapId,participantIdentities,participants,platformId,queueId,seasonId,status,teams
0,1588569216123,1475,4353346263,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589030702498,1404,4367199595,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588514577662,1722,4352098588,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588745022341,965,4358736984,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588837514402,812,4361173967,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589372097554,1712,4377039377,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588139841997,1369,4339975651,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589425548230,1508,4378064003,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589276891396,1325,4374104072,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1587381375511,1055,4317268687,CLASSIC,MATCHED_GAME,10.8.317.8137,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589264117001,1471,4373731421,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1589369213654,1705,4376718683,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589176338186,1489,4371321497,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589234299242,549,4372953469,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589385328264,1860,4377537195,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1589558711338,968,4382634352,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1587449487530,1936,4319360619,CLASSIC,MATCHED_GAME,10.8.317.8137,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1588489994160,1541,4350779346,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589199462304,943,4372208113,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1587008954052,1627,4305441253,CLASSIC,MATCHED_GAME,10.8.317.3760,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1588685834154,1358,4357592386,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588170257743,1915,4341290892,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1587372178681,192,4317071220,CLASSIC,MATCHED_GAME,10.8.317.8137,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588870184001,1743,4362522743,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1580492653223,1264,4122935668,CLASSIC,MATCHED_GAME,10.2.305.4739,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588632360916,1932,4355377235,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589128512282,1949,4370567316,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,440,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1588438178370,1474,4349916409,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588215372631,1820,4342208170,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1588953531145,1256,4364923121,ARAM,MATCHED_GAME,10.9.318.6057,12,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,450,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,1578149630787,1857,4065580647,CLASSIC,MATCHED_GAME,9.24.300.6382,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589556410724,1081,4382584172,URF,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,900,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1589230748103,2365,4372939335,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589193247710,1243,4371997602,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,430,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589557887349,922,4382680300,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1585901498643,622,4270906188,ONEFORALL,MATCHED_GAME,10.7.314.9802,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,1020,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588324483452,1147,4345735599,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,850,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589432527378,2145,4378189232,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588716300847,939,4358109882,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1585141471373,1963,4246823145,CLASSIC,MATCHED_GAME,10.6.314.4405,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588178768808,1818,4341531562,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1588517641831,2034,4352231875,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588828577907,1676,4360928248,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589060963966,1610,4368117060,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1588659373775,775,4356169267,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1585300979242,1002,4251192896,ONEFORALL,MATCHED_GAME,10.6.314.4405,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,1020,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1585394867958,1828,4254697984,CLASSIC,MATCHED_GAME,10.6.314.4405,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589297932758,2313,4375038554,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1584773205159,1313,4234321462,CLASSIC,MATCHED_GAME,10.6.313.8894,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588524899450,1731,4352484278,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1584332004028,1715,4221350292,CLASSIC,MATCHED_GAME,10.5.312.392,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589350061995,1581,4376156029,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589375817193,1525,4377322874,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589470957755,903,4379886318,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1587537848186,1751,4321994740,CLASSIC,MATCHED_GAME,10.8.317.8137,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1587736792109,1768,4328067285,CLASSIC,MATCHED_GAME,10.8.317.8137,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588780759428,1809,4360137137,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,440,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1589289694789,1326,4374757433,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1587063924436,730,4307520709,CLASSIC,MATCHED_GAME,10.8.317.3760,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1586484007238,1342,4288437891,CLASSIC,MATCHED_GAME,10.7.314.9802,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,NaN,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."

In [21]:
# 모든값이 MaM인 status칼럼 삭제
data = data.drop(['status'], axis=1)
data.head()

,gameCreation,gameDuration,gameId,gameMode,gameType,gameVersion,mapId,participantIdentities,participants,platformId,queueId,seasonId,teams
0,1588569216123,1475,4353346263,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589030702498,1404,4367199595,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588514577662,1722,4352098588,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588745022341,965,4358736984,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588837514402,812,4361173967,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."

In [22]:
'''
NaN이 들어있는 행은 삭제시켜 teams와 participants칼럼을 풀어서 하나의 dataframe으로 합칠 수 있게 만든다.
'''
data = data.dropna()

In [24]:
# data.isnull().sum()

gameCreation             0
gameDuration             0
gameId                   0
gameMode                 0
gameType                 0
gameVersion              0
mapId                    0
participantIdentities    0
participants             0
platformId               0
queueId                  0
seasonId                 0
teams                    0
dtype: int64

In [26]:
data

,gameCreation,gameDuration,gameId,gameMode,gameType,gameVersion,mapId,participantIdentities,participants,platformId,queueId,seasonId,teams
0,1588569216123,1475,4353346263,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589030702498,1404,4367199595,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588514577662,1722,4352098588,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588745022341,965,4358736984,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588837514402,812,4361173967,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589372097554,1712,4377039377,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588139841997,1369,4339975651,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589425548230,1508,4378064003,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589276891396,1325,4374104072,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1587381375511,1055,4317268687,CLASSIC,MATCHED_GAME,10.8.317.8137,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589264117001,1471,4373731421,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1589369213654,1705,4376718683,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589176338186,1489,4371321497,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589234299242,549,4372953469,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589385328264,1860,4377537195,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1589558711338,968,4382634352,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1587449487530,1936,4319360619,CLASSIC,MATCHED_GAME,10.8.317.8137,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1588489994160,1541,4350779346,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589199462304,943,4372208113,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1587008954052,1627,4305441253,CLASSIC,MATCHED_GAME,10.8.317.3760,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1588685834154,1358,4357592386,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588170257743,1915,4341290892,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1587372178681,192,4317071220,CLASSIC,MATCHED_GAME,10.8.317.8137,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588870184001,1743,4362522743,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1580492653223,1264,4122935668,CLASSIC,MATCHED_GAME,10.2.305.4739,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588632360916,1932,4355377235,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589128512282,1949,4370567316,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,440,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1588438178370,1474,4349916409,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588215372631,1820,4342208170,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1588953531145,1256,4364923121,ARAM,MATCHED_GAME,10.9.318.6057,12,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,450,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,1578149630787,1857,4065580647,CLASSIC,MATCHED_GAME,9.24.300.6382,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589556410724,1081,4382584172,URF,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,900,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1589230748103,2365,4372939335,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589193247710,1243,4371997602,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,430,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589557887349,922,4382680300,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1585901498643,622,4270906188,ONEFORALL,MATCHED_GAME,10.7.314.9802,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,1020,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588324483452,1147,4345735599,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,850,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589432527378,2145,4378189232,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588716300847,939,4358109882,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1585141471373,1963,4246823145,CLASSIC,MATCHED_GAME,10.6.314.4405,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588178768808,1818,4341531562,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1588517641831,2034,4352231875,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588828577907,1676,4360928248,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589060963966,1610,4368117060,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1588659373775,775,4356169267,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1585300979242,1002,4251192896,ONEFORALL,MATCHED_GAME,10.6.314.4405,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,1020,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1585394867958,1828,4254697984,CLASSIC,MATCHED_GAME,10.6.314.4405,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1589297932758,2313,4375038554,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1584773205159,1313,4234321462,CLASSIC,MATCHED_GAME,10.6.313.8894,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588524899450,1731,4352484278,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1584332004028,1715,4221350292,CLASSIC,MATCHED_GAME,10.5.312.392,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589350061995,1581,4376156029,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589375817193,1525,4377322874,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1589470957755,903,4379886318,CLASSIC,MATCHED_GAME,10.10.320.3039,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1587537848186,1751,4321994740,CLASSIC,MATCHED_GAME,10.8.317.8137,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1587736792109,1768,4328067285,CLASSIC,MATCHED_GAME,10.8.317.8137,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1588780759428,1809,4360137137,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,440,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F..."
0,1589289694789,1326,4374757433,CLASSIC,MATCHED_GAME,10.9.318.6057,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."
0,1587063924436,730,4307520709,CLASSIC,MATCHED_GAME,10.8.317.3760,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T..."
0,1586484007238,1342,4288437891,CLASSIC,MATCHED_GAME,10.7.314.9802,11,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420,13,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ..."

In [72]:
'''
teams 칼럼에 들어있는 데이터를 풀어서 하나의 칼럼을 갖도록 df를 만든다.
두개의 팀이 있으므로 각 팀을 나눠서 df를 만들고 합쳐준다.
100 --> blue side
200 --> red side
'''
# blue side
a_ls = list(data['teams'])

team1_df = pd.DataFrame()
for i in range(len(a_ls)):
    try:
        a_ls[i][0].pop('bans',None)
        team1 = pd.DataFrame(list(a_ls[i][0].values()),index = list(a_ls[i][0].keys())).T
        team1_df = team1_df.append(team1)
    except:
        print(i)
    
team1_df.index = range(len(team1_df))

In [82]:
'''
칼럼의 이름이 blue와 red팀이 같아질수 있으므로 blue팀은 칼럼이름앞에 blue 라고 추가해준다.
'''
blue_columns = ['blue'+s for s in list(team1_df.columns)]
blue_columns

['blueteamId',
 'bluewin',
 'bluefirstBlood',
 'bluefirstTower',
 'bluefirstInhibitor',
 'bluefirstBaron',
 'bluefirstDragon',
 'bluefirstRiftHerald',
 'bluetowerKills',
 'blueinhibitorKills',
 'bluebaronKills',
 'bluedragonKills',
 'bluevilemawKills',
 'blueriftHeraldKills',
 'bluedominionVictoryScore']

In [84]:
team1_df.head()

,teamId,win,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,towerKills,inhibitorKills,baronKills,dragonKills,vilemawKills,riftHeraldKills,dominionVictoryScore
0,100,Win,True,False,True,True,True,False,8,1,1,1,0,1,0
1,100,Fail,False,False,False,False,False,False,1,0,0,2,0,0,0
2,100,Fail,True,True,False,False,True,False,3,0,0,3,0,0,0
3,100,Fail,False,False,False,False,True,False,0,0,0,1,0,0,0
4,100,Win,True,True,True,False,True,True,7,1,0,1,0,1,0

In [85]:
'''
칼럼이름이 바뀐것을 확인
'''
team1_df.columns = blue_columns
team1_df

,blueteamId,bluewin,bluefirstBlood,bluefirstTower,bluefirstInhibitor,bluefirstBaron,bluefirstDragon,bluefirstRiftHerald,bluetowerKills,blueinhibitorKills,bluebaronKills,bluedragonKills,bluevilemawKills,blueriftHeraldKills,bluedominionVictoryScore
0,100,Win,True,False,True,True,True,False,8,1,1,1,0,1,0
1,100,Fail,False,False,False,False,False,False,1,0,0,2,0,0,0
2,100,Fail,True,True,False,False,True,False,3,0,0,3,0,0,0
3,100,Fail,False,False,False,False,True,False,0,0,0,1,0,0,0
4,100,Win,True,True,True,False,True,True,7,1,0,1,0,1,0
5,100,Fail,True,True,False,False,True,True,4,0,0,1,0,2,0
6,100,Fail,False,False,False,False,False,False,2,0,0,0,0,0,0
7,100,Fail,True,False,False,False,False,False,1,0,0,1,0,0,0
8,100,Win,True,True,False,True,True,True,6,0,1,2,0,2,0
9,100,Fail,False,True,False,False,False,True,1,0,0,0,0,1,0
10,100,Win,False,True,True,True,False,True,8,1,1,2,0,2,0
11,100,Fail,True,True,False,False,False,False,2,0,0,0,0,0,0
12,100,Fail,False,True,False,False,False,True,1,0,0,0,0,1,0
13,100,Fail,True,False,False,False,False,False,0,0,0,0,0,0,0
14,100,Win,False,False,True,True,True,True,9,2,1,3,0,1,0
15,100,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0
16,100,Win,False,True,False,True,False,True,5,0,2,3,0,2,0
17,100,Win,True,False,True,True,False,True,9,2,1,2,0,2,0
18,100,Win,True,True,False,False,True,True,3,0,0,1,0,1,0
19,100,Win,True,False,True,True,True,False,9,2,1,3,0,0,0
20,100,Fail,False,False,False,False,False,True,2,0,0,0,0,1,0
21,100,Fail,False,False,False,True,True,False,2,0,1,1,0,1,0
22,100,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0
23,100,Fail,True,True,False,True,True,True,6,1,1,3,0,2,0
24,100,Fail,True,False,False,False,True,True,1,0,0,1,0,1,0
25,100,Win,True,True,True,True,True,True,9,2,1,4,0,2,0
26,100,Win,False,False,True,True,False,True,9,1,1,1,0,1,0
27,100,Fail,True,True,False,False,False,True,4,0,0,0,0,1,0
28,100,Win,False,True,True,True,True,True,8,1,1,3,0,1,0
29,100,Fail,True,True,False,False,False,False,2,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9957,100,Win,True,True,True,True,True,False,10,2,1,5,0,0,0
9958,100,Win,False,True,True,True,False,False,11,3,1,1,0,0,0
9959,100,Fail,False,False,False,True,False,False,4,0,1,2,0,1,0
9960,100,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0
9961,100,Win,True,True,False,False,True,True,4,0,0,2,0,1,0
9962,100,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0
9963,100,Win,True,True,True,False,False,False,11,3,0,0,0,0,0
9964,100,Fail,False,False,True,False,True,False,5,1,0,4,0,0,0
9965,100,Fail,True,False,False,False,False,False,0,0,0,0,0,0,0
9966,100,Fail,True,True,True,True,False,False,7,1,1,1,0,0,0
9967,100,Win,False,False,True,False,True,False,8,1,0,3,0,1,0
9968,100,Fail,False,True,False,True,False,False,2,0,1,0,0,0,0
9969,100,Win,True,True,True,True,True,False,9,1,1,4,0,0,0
9970,100,Win,False,False,False,True,True,False,5,0,1,3,0,1,0
9971,100,Win,False,True,True,False,True,True,6,1,0,1,0,1,0
9972,100,Win,True,False,True,True,True,False,5,1,1,1,0,0,0
9973,100,Win,True,True,True,True,True,True,7,1,2,4,0,1,0
9974,100,Win,False,True,True,True,False,False,7,1,2,1,0,1,0
9975,100,Fail,False,False,False,False,False,False,1,0,0,0,0,0,0
9976,100,Win,True,False,True,False,False,False,9,1,0,1,0,0,0
9977,100,Fail,False,True,False,False,False,True,3,0,0,1,0,1,0
9978,100,Fail,False,True,False,False,False,True,6,0,0,3,0,2,0
9979,100,Fail,False,False,False,False,True,False,0,0,0,1,0,0,0
9980,100,Win,True,True,True,False,True,True,9,2,0,1,0,1,0
9981,100,Win,False,True,True,True,True,True,9,3,1,4,0,1,0
9982,100,Fail,False,False,False,False,False,True,1,0,0,0,0,1,0
9983,100,Win,False,True,True,False,False,False,10,1,0,3,0,0,0
9984,100,Fail,True,True,False,False,False,False,1,0,0,1,0,1,0
9985,100,Win,True,True,True,False,True,True,7,1,0,1,0,1,0
9986,100,Fail,True,False,False,False,False,True,1,0,0,1,0,2,0

In [86]:
'''
red team
'''
team2_df = pd.DataFrame()
for i in range(len(a_ls)):
    try:
        a_ls[i][1].pop('bans',None)
        team2 = pd.DataFrame(list(a_ls[i][1].values()),index = list(a_ls[i][1].keys())).T
        team2_df = team2_df.append(team2)
    except:
        print(i)
    
team2_df.index = range(len(team2_df))

In [87]:
team2_df.head()

,teamId,win,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,towerKills,inhibitorKills,baronKills,dragonKills,vilemawKills,riftHeraldKills,dominionVictoryScore
0,200,Fail,False,True,False,False,False,True,3,0,0,2,0,1,0
1,200,Win,True,True,True,True,True,True,7,1,1,1,0,1,0
2,200,Win,False,False,True,True,False,True,9,3,1,1,0,2,0
3,200,Win,True,True,True,False,False,True,11,1,0,0,0,1,0
4,200,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0

In [88]:
red_columns = ['red'+s for s in list(team2_df.columns)]
red_columns

['redteamId',
 'redwin',
 'redfirstBlood',
 'redfirstTower',
 'redfirstInhibitor',
 'redfirstBaron',
 'redfirstDragon',
 'redfirstRiftHerald',
 'redtowerKills',
 'redinhibitorKills',
 'redbaronKills',
 'reddragonKills',
 'redvilemawKills',
 'redriftHeraldKills',
 'reddominionVictoryScore']

In [89]:
'''
칼럼이름이 바뀐것을 확인
'''
team2_df.columns = red_columns
team2_df

,redteamId,redwin,redfirstBlood,redfirstTower,redfirstInhibitor,redfirstBaron,redfirstDragon,redfirstRiftHerald,redtowerKills,redinhibitorKills,redbaronKills,reddragonKills,redvilemawKills,redriftHeraldKills,reddominionVictoryScore
0,200,Fail,False,True,False,False,False,True,3,0,0,2,0,1,0
1,200,Win,True,True,True,True,True,True,7,1,1,1,0,1,0
2,200,Win,False,False,True,True,False,True,9,3,1,1,0,2,0
3,200,Win,True,True,True,False,False,True,11,1,0,0,0,1,0
4,200,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0
5,200,Win,False,False,True,True,False,False,9,2,1,3,0,0,0
6,200,Win,True,True,True,True,True,True,9,1,1,3,0,1,0
7,200,Win,False,True,True,True,True,True,9,2,1,3,0,2,0
8,200,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0
9,200,Win,True,False,True,False,True,False,7,1,0,2,0,1,0
10,200,Fail,True,False,False,False,True,False,1,0,0,1,0,0,0
11,200,Win,False,False,True,True,True,True,7,1,1,4,0,2,0
12,200,Win,True,False,False,True,True,False,5,0,1,3,0,0,0
13,200,Win,False,True,True,False,True,True,5,1,0,1,0,1,0
14,200,Fail,True,True,False,False,False,False,2,0,0,2,0,0,0
15,200,Win,True,True,False,False,True,True,4,0,0,2,0,1,0
16,200,Fail,True,False,False,False,True,False,4,0,0,2,0,0,0
17,200,Fail,False,True,False,False,True,False,1,0,0,1,0,0,0
18,200,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0
19,200,Fail,False,True,False,False,False,True,2,0,0,0,0,2,0
20,200,Win,True,True,False,True,True,False,4,0,1,2,0,0,0
21,200,Win,True,True,True,False,False,True,8,1,0,3,0,1,0
22,200,Win,False,False,False,False,False,False,0,0,0,0,0,0,0
23,200,Win,False,False,True,False,False,False,6,2,0,1,0,0,0
24,200,Win,False,True,True,False,False,False,8,1,0,1,0,1,0
25,200,Fail,False,False,False,False,False,False,2,0,0,1,0,0,0
26,200,Fail,True,True,False,False,True,False,6,0,0,2,0,0,0
27,200,Win,False,False,True,True,True,False,9,1,1,3,0,1,0
28,200,Fail,True,False,False,False,False,False,3,0,0,2,0,1,0
29,200,Win,False,False,True,False,False,False,4,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9957,200,Fail,False,False,False,False,False,True,3,0,0,0,0,1,0
9958,200,Fail,True,False,False,False,True,False,2,0,0,3,0,0,0
9959,200,Win,True,True,True,False,True,True,11,3,1,4,0,1,0
9960,200,Win,True,True,False,False,True,True,5,0,0,1,0,1,0
9961,200,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0
9962,200,Win,True,True,False,False,False,False,3,0,0,0,0,0,0
9963,200,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0
9964,200,Win,True,True,False,False,False,True,8,1,0,1,0,1,0
9965,200,Win,False,True,False,False,True,True,4,0,0,2,0,1,0
9966,200,Win,False,False,False,False,True,True,8,1,1,3,0,1,0
9967,200,Fail,True,True,False,True,False,True,4,0,1,1,0,1,0
9968,200,Win,True,False,True,False,True,True,11,3,1,5,0,1,0
9969,200,Fail,False,False,False,False,False,True,0,0,0,0,0,1,0
9970,200,Fail,True,True,False,False,False,True,2,0,0,0,0,1,0
9971,200,Fail,True,False,False,False,False,False,0,0,0,0,0,0,0
9972,200,Fail,False,True,False,False,False,True,4,0,0,0,0,1,0
9973,200,Fail,False,False,False,False,False,False,1,0,0,0,0,1,0
9974,200,Fail,True,False,False,False,True,True,5,0,0,5,0,1,0
9975,200,Win,True,True,True,True,True,True,11,3,1,3,0,2,0
9976,200,Fail,False,True,False,False,True,True,3,0,0,2,0,1,0
9977,200,Win,True,False,True,True,True,False,10,2,1,3,0,0,0
9978,200,Win,True,False,True,True,True,False,8,1,1,1,0,0,0
9979,200,Win,True,True,True,True,False,True,10,2,1,2,0,2,0
9980,200,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0
9981,200,Fail,True,False,False,False,False,False,2,0,0,1,0,0,0
9982,200,Win,True,True,True,True,True,False,8,2,1,4,0,1,0
9983,200,Fail,True,False,False,False,True,True,3,0,0,2,0,1,0
9984,200,Win,False,False,False,True,True,True,4,0,1,2,0,1,0
9985,200,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0
9986,200,Win,False,True,True,True,True,False,9,2,1,2,0,0,0

In [90]:
team2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9987 entries, 0 to 9986
Data columns (total 15 columns):
redteamId                  9987 non-null object
redwin                     9987 non-null object
redfirstBlood              9987 non-null object
redfirstTower              9987 non-null object
redfirstInhibitor          9987 non-null object
redfirstBaron              9987 non-null object
redfirstDragon             9987 non-null object
redfirstRiftHerald         9987 non-null object
redtowerKills              9987 non-null object
redinhibitorKills          9987 non-null object
redbaronKills              9987 non-null object
reddragonKills             9987 non-null object
redvilemawKills            9987 non-null object
redriftHeraldKills         9987 non-null object
reddominionVictoryScore    9987 non-null object
dtypes: object(15)
memory usage: 1.1+ MB

In [91]:
'''
각 팀의 info를 담은 dataframe의 길이가 일치하는지 확인해준다.
'''
len(team1_df) == len(team2_df) == len(data)

True

* data에서 teams, participants 그리고 duration 칼럼을 사용할것
* [column info](https://developer.riotgames.com/apis#match-v4/GET_getMatch) 에서 각 내용 확인 가능
* 각팀으로 만든 df와 기존 data를 합쳐준다

In [160]:
'''
팀1과 팀2를 합쳐준 df에 추가로 합쳐줄 gameDuration df 생성
--> 이때 reset_index를 꼭 해줘야한다.
    ---> 안하면 cannot reindex from a duplicate axis 오류남
'''
data_pri = data[['gameDuration']]
data_pri = data_pri.reset_index()
data_pri.drop(['index'],axis=1, inplace=True)
data_pri

     gameDuration
0            1475
1            1404
2            1722
3             965
4             812
5            1712
6            1369
7            1508
8            1325
9            1055
10           1471
11           1705
12           1489
13            549
14           1860
15            968
16           1936
17           1541
18            943
19           1627
20           1358
21           1915
22            192
23           1743
24           1264
25           1932
26           1949
27           1474
28           1820
29           1256
...           ...
9957         1857
9958         1081
9959         2365
9960         1243
9961          922
9962          622
9963         1147
9964         2145
9965          939
9966         1963
9967         1818
9968         2034
9969         1676
9970         1610
9971          775
9972         1002
9973         1828
9974         2313
9975         1313
9976         1731
9977         1715
9978         1581
9979         1525
9980          903
9981         1751
9982         1768
9983         1809
9984         1326
9985          730
9986         1342

[9987 rows x 1 columns]

In [147]:
'''
team df와 기존 data에서 사용할 칼럼을 선택해 합쳐준다.
먼저 팀1과 팀2를 합쳐주고
'''
data_team = pd.concat([team1_df,team2_df],axis=1)

In [149]:
data_team

,blueteamId,bluewin,bluefirstBlood,bluefirstTower,bluefirstInhibitor,bluefirstBaron,bluefirstDragon,bluefirstRiftHerald,bluetowerKills,blueinhibitorKills,...,redfirstDragon,redfirstRiftHerald,redtowerKills,redinhibitorKills,redbaronKills,reddragonKills,redvilemawKills,redriftHeraldKills,reddominionVictoryScore,gameDuration
0,100,Win,True,False,True,True,True,False,8,1,...,False,True,3,0,0,2,0,1,0,
1,100,Fail,False,False,False,False,False,False,1,0,...,True,True,7,1,1,1,0,1,0,
2,100,Fail,True,True,False,False,True,False,3,0,...,False,True,9,3,1,1,0,2,0,
3,100,Fail,False,False,False,False,True,False,0,0,...,False,True,11,1,0,0,0,1,0,
4,100,Win,True,True,True,False,True,True,7,1,...,False,False,0,0,0,0,0,0,0,
5,100,Fail,True,True,False,False,True,True,4,0,...,False,False,9,2,1,3,0,0,0,
6,100,Fail,False,False,False,False,False,False,2,0,...,True,True,9,1,1,3,0,1,0,
7,100,Fail,True,False,False,False,False,False,1,0,...,True,True,9,2,1,3,0,2,0,
8,100,Win,True,True,False,True,True,True,6,0,...,False,False,0,0,0,0,0,0,0,
9,100,Fail,False,True,False,False,False,True,1,0,...,True,False,7,1,0,2,0,1,0,
10,100,Win,False,True,True,True,False,True,8,1,...,True,False,1,0,0,1,0,0,0,
11,100,Fail,True,True,False,False,False,False,2,0,...,True,True,7,1,1,4,0,2,0,
12,100,Fail,False,True,False,False,False,True,1,0,...,True,False,5,0,1,3,0,0,0,
13,100,Fail,True,False,False,False,False,False,0,0,...,True,True,5,1,0,1,0,1,0,
14,100,Win,False,False,True,True,True,True,9,2,...,False,False,2,0,0,2,0,0,0,
15,100,Fail,False,False,False,False,False,False,0,0,...,True,True,4,0,0,2,0,1,0,
16,100,Win,False,True,False,True,False,True,5,0,...,True,False,4,0,0,2,0,0,0,
17,100,Win,True,False,True,True,False,True,9,2,...,True,False,1,0,0,1,0,0,0,
18,100,Win,True,True,False,False,True,True,3,0,...,False,False,0,0,0,0,0,0,0,
19,100,Win,True,False,True,True,True,False,9,2,...,False,True,2,0,0,0,0,2,0,
20,100,Fail,False,False,False,False,False,True,2,0,...,True,False,4,0,1,2,0,0,0,
21,100,Fail,False,False,False,True,True,False,2,0,...,False,True,8,1,0,3,0,1,0,
22,100,Fail,False,False,False,False,False,False,0,0,...,False,False,0,0,0,0,0,0,0,
23,100,Fail,True,True,False,True,True,True,6,1,...,False,False,6,2,0,1,0,0,0,
24,100,Fail,True,False,False,False,True,True,1,0,...,False,False,8,1,0,1,0,1,0,
25,100,Win,True,True,True,True,True,True,9,2,...,False,False,2,0,0,1,0,0,0,
26,100,Win,False,False,True,True,False,True,9,1,...,True,False,6,0,0,2,0,0,0,
27,100,Fail,True,True,False,False,False,True,4,0,...,True,False,9,1,1,3,0,1,0,
28,100,Win,False,True,True,True,True,True,8,1,...,False,False,3,0,0,2,0,1,0,
29,100,Fail,True,True,False,False,False,False,2,1,...,False,False,4,2,0,0,0,0,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9957,100,Win,True,True,True,True,True,False,10,2,...,False,True,3,0,0,0,0,1,0,
9958,100,Win,False,True,True,True,False,False,11,3,...,True,False,2,0,0,3,0,0,0,
9959,100,Fail,False,False,False,True,False,False,4,0,...,True,True,11,3,1,4,0,1,0,
9960,100,Fail,False,False,False,False,False,False,0,0,...,True,True,5,0,0,1,0,1,0,
9961,100,Win,True,True,False,False,True,True,4,0,...,False,False,0,0,0,0,0,0,0,
9962,100,Fail,False,False,False,False,False,False,0,0,...,False,False,3,0,0,0,0,0,0,
9963,100,Win,True,True,True,False,False,False,11,3,...,False,False,0,0,0,0,0,0,0,
9964,100,Fail,False,False,True,False,True,False,5,1,...,False,True,8,1,0,1,0,1,0,
9965,100,Fail,True,False,False,False,False,False,0,0,...,True,True,4,0,0,2,0,1,0,
9966,100,Fail,True,True,True,True,False,False,7,1,...,True,True,8,1,1,3,0,1,0,
9967,100,Win,False,False,True,False,True,False,8,1,...,False,True,4,0,1,1,0,1,0,
9968,100,Fail,False,True,False,True,False,False,2,0,...,True,True,11,3,1,5,0,1,0,
9969,100,Win,True,True,True,True,True,False,9,1,...,False,True,0,0,0,0,0,1,0,
9970,100,Win,False,False,False,True,True,False,5,0,...,False,True,2,0,0,0,0,1,0,
9971,100,Win,False,True,True,False,True,True,6,1,...,False,False,0,0,0,0,0,0,0,
9972,100,Win,True,False,True,True,True,False,5,1,...,False,True,4,0,0,0,0,1,0,
9973,100,Win,True,True,True,True,True,True,7,1,...,False,False,1,0,0,0,0,1,0,
9974,100,Win,False,True,True,True,False,False,7,1,...,True,True,5,0,0,5,0,1,0,
9975,100,Fail,False,False,False,False,False,False,1,0,...,True,True,11,3,1,3,0,2,0,
9976,100,Win,True,False,True,False,False,False,9,1,...,True,True,3,0,0,2,0,1,0,
9977,100,Fail,False,True,False,False,False,True,3,0,...,True,False,10,2,1,3,0,0,0,
9978,100,Fail,False,True,False,False,False,True,6,0,...,True,False,8,1,1,1,0,0,0,
9979,100,Fail,False,False,False,False,True,False,0,0,...,False,True,10,2,1,2,0,2,0,
9980,100,Win,True,True,True,False,True,True,9,2,...,False,False,0,0,0,0,0,0,0,
9981,100,Win,False,True,True,True,True,True,9,3,...,False,False,2,0,0,1,0,0,0,
9982,100,Fail,False,False,False,False,False,True,1,0,...,True,False,8,2,1,4,0,1,0,
9983,100,Win,False,True,True,False,False,False,10,1,...,True,True,3,0,0,2,0,1,0,
9984,100,Fail,True,True,False,False,False,False,1,0,...,True,True,4,0,1,2,0,1,0,
9985,100,Win,True,True,True,False,True,True,7,1,...,False,False,0,0,0,0,0,0,0,
9986,100,Fail,True,False,False,False,False,True,1,0,...,True,False,9,2,1,2,0,0,0,

In [161]:
'''
마지막으로 data_pri까지 합쳐줘서 통합된 데이터셋을 만들어냈다.
'''
data_team.update(data_pri)

In [163]:
'''
통합데이터 출력 확인
'''
data_team

,blueteamId,bluewin,bluefirstBlood,bluefirstTower,bluefirstInhibitor,bluefirstBaron,bluefirstDragon,bluefirstRiftHerald,bluetowerKills,blueinhibitorKills,...,redfirstDragon,redfirstRiftHerald,redtowerKills,redinhibitorKills,redbaronKills,reddragonKills,redvilemawKills,redriftHeraldKills,reddominionVictoryScore,gameDuration
0,100,Win,True,False,True,True,True,False,8,1,...,False,True,3,0,0,2,0,1,0,1475
1,100,Fail,False,False,False,False,False,False,1,0,...,True,True,7,1,1,1,0,1,0,1404
2,100,Fail,True,True,False,False,True,False,3,0,...,False,True,9,3,1,1,0,2,0,1722
3,100,Fail,False,False,False,False,True,False,0,0,...,False,True,11,1,0,0,0,1,0,965
4,100,Win,True,True,True,False,True,True,7,1,...,False,False,0,0,0,0,0,0,0,812
5,100,Fail,True,True,False,False,True,True,4,0,...,False,False,9,2,1,3,0,0,0,1712
6,100,Fail,False,False,False,False,False,False,2,0,...,True,True,9,1,1,3,0,1,0,1369
7,100,Fail,True,False,False,False,False,False,1,0,...,True,True,9,2,1,3,0,2,0,1508
8,100,Win,True,True,False,True,True,True,6,0,...,False,False,0,0,0,0,0,0,0,1325
9,100,Fail,False,True,False,False,False,True,1,0,...,True,False,7,1,0,2,0,1,0,1055
10,100,Win,False,True,True,True,False,True,8,1,...,True,False,1,0,0,1,0,0,0,1471
11,100,Fail,True,True,False,False,False,False,2,0,...,True,True,7,1,1,4,0,2,0,1705
12,100,Fail,False,True,False,False,False,True,1,0,...,True,False,5,0,1,3,0,0,0,1489
13,100,Fail,True,False,False,False,False,False,0,0,...,True,True,5,1,0,1,0,1,0,549
14,100,Win,False,False,True,True,True,True,9,2,...,False,False,2,0,0,2,0,0,0,1860
15,100,Fail,False,False,False,False,False,False,0,0,...,True,True,4,0,0,2,0,1,0,968
16,100,Win,False,True,False,True,False,True,5,0,...,True,False,4,0,0,2,0,0,0,1936
17,100,Win,True,False,True,True,False,True,9,2,...,True,False,1,0,0,1,0,0,0,1541
18,100,Win,True,True,False,False,True,True,3,0,...,False,False,0,0,0,0,0,0,0,943
19,100,Win,True,False,True,True,True,False,9,2,...,False,True,2,0,0,0,0,2,0,1627
20,100,Fail,False,False,False,False,False,True,2,0,...,True,False,4,0,1,2,0,0,0,1358
21,100,Fail,False,False,False,True,True,False,2,0,...,False,True,8,1,0,3,0,1,0,1915
22,100,Fail,False,False,False,False,False,False,0,0,...,False,False,0,0,0,0,0,0,0,192
23,100,Fail,True,True,False,True,True,True,6,1,...,False,False,6,2,0,1,0,0,0,1743
24,100,Fail,True,False,False,False,True,True,1,0,...,False,False,8,1,0,1,0,1,0,1264
25,100,Win,True,True,True,True,True,True,9,2,...,False,False,2,0,0,1,0,0,0,1932
26,100,Win,False,False,True,True,False,True,9,1,...,True,False,6,0,0,2,0,0,0,1949
27,100,Fail,True,True,False,False,False,True,4,0,...,True,False,9,1,1,3,0,1,0,1474
28,100,Win,False,True,True,True,True,True,8,1,...,False,False,3,0,0,2,0,1,0,1820
29,100,Fail,True,True,False,False,False,False,2,1,...,False,False,4,2,0,0,0,0,0,1256
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9957,100,Win,True,True,True,True,True,False,10,2,...,False,True,3,0,0,0,0,1,0,1857
9958,100,Win,False,True,True,True,False,False,11,3,...,True,False,2,0,0,3,0,0,0,1081
9959,100,Fail,False,False,False,True,False,False,4,0,...,True,True,11,3,1,4,0,1,0,2365
9960,100,Fail,False,False,False,False,False,False,0,0,...,True,True,5,0,0,1,0,1,0,1243
9961,100,Win,True,True,False,False,True,True,4,0,...,False,False,0,0,0,0,0,0,0,922
9962,100,Fail,False,False,False,False,False,False,0,0,...,False,False,3,0,0,0,0,0,0,622
9963,100,Win,True,True,True,False,False,False,11,3,...,False,False,0,0,0,0,0,0,0,1147
9964,100,Fail,False,False,True,False,True,False,5,1,...,False,True,8,1,0,1,0,1,0,2145
9965,100,Fail,True,False,False,False,False,False,0,0,...,True,True,4,0,0,2,0,1,0,939
9966,100,Fail,True,True,True,True,False,False,7,1,...,True,True,8,1,1,3,0,1,0,1963
9967,100,Win,False,False,True,False,True,False,8,1,...,False,True,4,0,1,1,0,1,0,1818
9968,100,Fail,False,True,False,True,False,False,2,0,...,True,True,11,3,1,5,0,1,0,2034
9969,100,Win,True,True,True,True,True,False,9,1,...,False,True,0,0,0,0,0,1,0,1676
9970,100,Win,False,False,False,True,True,False,5,0,...,False,True,2,0,0,0,0,1,0,1610
9971,100,Win,False,True,True,False,True,True,6,1,...,False,False,0,0,0,0,0,0,0,775
9972,100,Win,True,False,True,True,True,False,5,1,...,False,True,4,0,0,0,0,1,0,1002
9973,100,Win,True,True,True,True,True,True,7,1,...,False,False,1,0,0,0,0,1,0,1828
9974,100,Win,False,True,True,True,False,False,7,1,...,True,True,5,0,0,5,0,1,0,2313
9975,100,Fail,False,False,False,False,False,False,1,0,...,True,True,11,3,1,3,0,2,0,1313
9976,100,Win,True,False,True,False,False,False,9,1,...,True,True,3,0,0,2,0,1,0,1731
9977,100,Fail,False,True,False,False,False,True,3,0,...,True,False,10,2,1,3,0,0,0,1715
9978,100,Fail,False,True,False,False,False,True,6,0,...,True,False,8,1,1,1,0,0,0,1581
9979,100,Fail,False,False,False,False,True,False,0,0,...,False,True,10,2,1,2,0,2,0,1525
9980,100,Win,True,True,True,False,True,True,9,2,...,False,False,0,0,0,0,0,0,0,903
9981,100,Win,False,True,True,True,True,True,9,3,...,False,False,2,0,0,1,0,0,0,1751
9982,100,Fail,False,False,False,False,False,True,1,0,...,True,False,8,2,1,4,0,1,0,1768
9983,100,Win,False,True,True,False,False,False,10,1,...,True,True,3,0,0,2,0,1,0,1809
9984,100,Fail,True,True,False,False,False,False,1,0,...,True,True,4,0,1,2,0,1,0,1326
9985,100,Win,True,True,True,False,True,True,7,1,...,False,False,0,0,0,0,0,0,0,730
9986,100,Fail,True,False,False,False,False,True,1,0,...,True,False,9,2,1,2,0,0,0,1342

In [166]:
'''
최종적으로 통합데이터 NaN값 확인 --> 0 확인 완료
'''
data_team.isnull().sum().sum()

0

In [167]:
'''
통합데이터 저장
'''
data_team.to_pickle('data/saving_data/match_integrated_data.pkl')

In [ ]:
'''
통합데이터 불러와서 출력 확인
'''
loa